{% extends "base.html" %}
{% load i18n %}

{% block title %}Clientes{% endblock %}

{% block content %}


    
<h1> {% trans "Listado de Clientes" %}</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{% trans "Usuario" %}</th>
        <th scope="col">{% trans "Nombres" %}</th>
        <th scope="col">{% trans "Apellidos" %}</th>
        <th scope="col">{% trans "Correo" %}</th>
        <th scope="col">{% trans "Teléfono" %}</th>
        <th scope="col">{% trans "Total Árboles" %}</th>
        <th scope="col">{% trans "Inversión Total" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in data %}
      <tr>
          <td>{{ user.0 }}</td>
          <td>{{ user.1 }}</td>
          <td>{{ user.2 }}</td>
          <td>{{ user.3 }}</td>
          <td>{{ user.4 }}</td>
          <td>{{ user.5 }}</td>
          <td>{{ user.6 }}</td>
      </tr>
      
      {% endfor %}
     
    </tbody>
  </table>





{% endblock %}