:root {
    --fuenteHeading: 'PT Sans',  sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #0c5a42; 
    --primario2: #afbf36;
    --secundario: #012623;
    --secundario2: #f2622e;  
    --negro: #000000;
    --blanco: #ffffff;

}

html {
    box-sizing: border-box;
    font-size: 100%; /* 1rem = 10px*/
}
*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    line-height: 2;
    
}


a {
    text-decoration: none;
}

h1{
 font-size: calc(2rem + .6vw);
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}


/* img {
    max-width: 100%;
    max-height: 100%;
} */
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}


/** Contactanos**/
.form-style input[type="submit"] {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #f2622e;
    color: #fff !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 20px;
    /* display: block; */
    text-align: center;
    display: block;
    border-color: transparent;
    
}
.form-style input[type="submit"]:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(242 98 46);
    box-shadow: 0px 0px 10px 0px rgb(242 98 46);
}

/* Inicio de header */
.header {    
    background-color: var(--blanco); 
    background-size: cover;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}

.logos{
    align-items: center;
    background-color: var(--blanco);
    border-radius: 0rem 20rem 20rem 0rem ;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    height: 15rem;
}



.logo2 img{
    max-height: 15rem;
}

.logo1 img{
    max-height: 15rem;
}
@media (max-width:1146px) {
    .logo1{
        display: none;
    }
}

@media (max-width: 576px) { 
    .logo2 img{
        max-height: 8rem;
    }
}



@media (max-width: 768px ) {
    .imagen {
        max-width: 100%;
        height: 28rem;
        width: 50rem;
    }
}
.imagen__texto {
    text-align: center; 
    color: var(--blanco); 
    font-size: 4rem;
    max-height: 28rem;
    padding: 2rem; 
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);  
} 
   


.entrada__imagen-texto{
    text-align: center;   
    
}
.entrada__imagen-texto h3 {
    color: var(--blanco); 
    font-size: 5rem;  
    
}
.entrada__imagen-texto p {
    color: var(--primario2);
    font-size: 3rem;
    font-weight: bold;
    margin-top: -3rem;
}

.titulo {
    color: var(--blanco);
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);  
    font-size: 2rem;
    font-weight: 700;
}

.titulo2 {
    color: var(--secundario);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 2rem;
    font-weight: 700;
}
.boton {
    font-size: 2rem;
    color: var(--blanco);
    margin-right: 2rem;
    background-color: var(--secundario2);    
}

.lista{
    background-color: var(--secundario2);
    color: var(--blanco); 
    cursor: pointer;  
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -8rem;
}




.entrada1, .entrada2, .entrada3, .entrada4, .entrada5, .entrada6 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 7px;
    padding: 2rem;
}

/* Entradas con imagen de fondo */

.entrada1, .entrada3{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/company/img/image\ 15.png);    
    background-size: cover;
    background-repeat: no-repeat;
}

/* Entradas con fondo verde  */

.entrada2, .entrada4, .entrada5, .entrada6 {
    background-color: var(--secundario);
    color: #FFFFFF;
}


/* mapa*/

.entrada2 div {
    min-height: 30rem;
    border-radius: 7px;
}

.entrada4 .card{
    background-color: var(--primario);
    padding: 2px;
}

/* .entrada3 img{
    max-height: 50rem;
} */

.img-collapse {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 2s ease;
}


.entrada5__cuadro{ 
    background-color: var(--blanco);
    background: #FFFFFF;
    border-radius: 10px;
    color: #012623;

}

.hojas img {
    margin-left: 1rem;
}

@media (min-width: 768px) {
    .hojas img{
        display: block;
        margin-left: 4rem;
    }
}



.barraslider{
  
}

  
  @media (max-width: 991.98px) {
    .testimony-29101 .image, .testimony-29101 .text {
      width: 100%;
      display: block !important; } }
  
  .slide-one-item {
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
    @media (max-width: 991.98px) {
      .slide-one-item .owl-nav {
        display: none; } }
    .slide-one-item .owl-nav .owl-prev,
    .slide-one-item .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #000; }
      .slide-one-item .owl-nav .owl-prev span,
      .slide-one-item .owl-nav .owl-next span {
        font-size: 30px; }
      .slide-one-item .owl-nav .owl-prev:hover,
      .slide-one-item .owl-nav .owl-next:hover {
        color: #000; }
      .slide-one-item .owl-nav .owl-prev:active, .slide-one-item .owl-nav .owl-prev:focus,
      .slide-one-item .owl-nav .owl-next:active,
      .slide-one-item .owl-nav .owl-next:focus {
        outline: none; }
    .slide-one-item .owl-nav .owl-prev {
      left: 20px; }
    .slide-one-item .owl-nav .owl-next {
      right: 20px; }
    .slide-one-item .owl-dots {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      z-index: 2; }
      .slide-one-item .owl-dots .owl-dot {
        display: inline-block; }
        .slide-one-item .owl-dots .owl-dot > span {
          -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          display: inline-block;
          width: 15px;
          height: 3px;
          background: rgba(0, 123, 255, 0.4);
          margin: 3px; }
        .slide-one-item .owl-dots .owl-dot.active > span {
          width: 15px;
          background: #007bff; }
  
  .thumbnail {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateY(50%) translateX(-50%);
    -ms-transform: translateY(50%) translateX(-50%);
    transform: translateY(50%) translateX(-50%);
    z-index: 99; }
    .thumbnail li {
      display: inline-block; }
      .thumbnail li a {
        display: block;
        margin: 4px; }
        .thumbnail li a img {
          width: 50px;
          border-radius: 50%;
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
      .thumbnail li.active a img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }
  


