:root {
    --fuenteHeading: 'PT Sans',  sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #0c5a42; 
    --primario2: #afbf36;
    --secundario: #012623;
    --secundario2: #f2622e;  
    --negro: #000000;
    --blanco: #ffffff;

}

html {
    box-sizing: border-box;
    font-size: 62.2%; /* 1rem = 10px*/
}
*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    
}


a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.6rem
}

img {
    max-width: 100%;
    max-height: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}




/* Inicio de header */
.header {    
    background-color: var(--blanco); 
    background-size: cover;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}
.contenedor1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    

}
.logos{
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--blanco);
    border: 1rem solid var(--blanco);
    border-radius: 0rem 20rem 20rem 0rem ;
    margin-right: -12rem;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    height: 28rem;
}
@media (max-width: 1146px) {
    .logos{
        display: flex;
        position: relative;
        align-items: center;
        background-color: var(--blanco);
        border: 1rem solid var(--blanco);
        border-radius: 0rem 20rem 20rem 0rem ;
        margin-right: -8rem;
    }
}

.logo1{
    display: flex;
}
@media (max-width:1146px) {
    .logo1{
        width: 0;
    }
}
.logo2 {
   margin-left: 30%;
}

@media (max-width:1146px) {
    .logo2{
        margin-left: 25%;
    }
}

.imagensinfondo{
    background-color: var(--secundario);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 28rem;
}

@media (max-width: 768px ) {
    .imagen {
        background-image: url(../img/company/img/image\ _crepeswafles.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 28rem;
        width: 50rem;
    }
}
.imagen__texto {
    display: block;
    text-align: center;
    color: var(--blanco); 
    font-size: 4rem;
    margin-top: 0rem;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 91.3%);
    height: 28rem;  
    padding: 6rem; 
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);  
} 
   


/* Entrada 1 */
.entrada__imagen {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/company/img/image\ 15.png); 
    max-width: 100%;    
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    
}
.entrada__imagen-texto{
    text-align: center;   
    
}
.entrada__imagen-texto h3 {
    color: var(--blanco); 
    font-size: 5rem;  
    
}
.entrada__imagen-texto p {
    color: var(--primario2);
    font-size: 3rem;
    font-weight: bold;
    margin-top: -3rem;
}

.titulo {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
}
.boton {
    font-size: 2rem;
    color: var(--blanco);
    margin-right: 2rem;
    background-color: var(--secundario2);    
}

.lista{
    background-color: var(--secundario2);
    color: var(--blanco); 
    cursor: pointer;  
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -8rem;
}


/* Entrada 2 */
.entrada1, .entrada3{
    background-color: var(--secundario);
    box-shadow: 4px 4px 16px rgba(1, 63, 48, 0.15);
    border-radius: 10px;
}

.entrada4{
    color: var(--blanco);
}

.entrada4 .card{
    background-color: var(--primario);
    padding: 2px;
}


.entrada3__imagen{
    position: relative;
    margin-left: 5rem;
    margin: 5rem;
}


.img-collapse {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



/* Entrada 4 */
.entrada4 {
    background-color: var(--secundario);
    box-shadow: 4px 4px 16px rgba(1, 63, 48, 0.15);
    background-size: cover;
    color: var(--blanco);
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 2s ease;
}

/* Entrada 5 */
.entrada5 {
    background-color: var(--primario);
    box-shadow: 4px 4px 16px rgba(1, 63, 48, 0.15);
    border-radius: 1rem;
    padding: 2rem;
    color: #FFFFFF;
}



.entrada5__cuadro{ 
    background-color: var(--blanco);
    background: #FFFFFF;
    border-radius: 10px;
    color: #012623;

}

.entrada5__cuadro-rectangulo{
    margin: 2rem;
    padding: 4rem;
    border-radius: 5px; 
}




/* Entrada 6 */
.entrada6 {
    background-color: var(--blanco);
    box-shadow: 4px 4px 16px rgba(1, 63, 48, 0.15);
    border-radius: 10px;
    background-size: cover;
    margin-top: 3rem;
}

.entrada6 h2{
    color: var(--primario);
}
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;  
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 20rem;
}










.slider-92911 {
    position: relative; }
  
  /* Carousel 4*/
  .testimony-29101 .image {
    width: 40%;
    background-size: cover;
    background-position: center center; }
    @media (max-width: 991.98px) {
      .testimony-29101 .image {
        height: 300px; } }
  
  .testimony-29101 .text {
    width: 60%;
    padding: 7rem 4rem;
    background: #007bff; }
    .testimony-29101 .text blockquote {
      position: relative;
      padding-bottom: 50px;
      font-size: 20px; }
      .testimony-29101 .text blockquote p {
        color: #fff;
        line-height: 1.8; }
      .testimony-29101 .text blockquote .author {
        font-size: 16px;
        letter-spacing: .1rem;
        position: absolute;
        bottom: 0;
        color: rgba(255, 255, 255, 0.7); }
  
  @media (max-width: 991.98px) {
    .testimony-29101 .image, .testimony-29101 .text {
      width: 100%;
      display: block !important; } }
  
  .slide-one-item {
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
    @media (max-width: 991.98px) {
      .slide-one-item .owl-nav {
        display: none; } }
    .slide-one-item .owl-nav .owl-prev,
    .slide-one-item .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #000; }
      .slide-one-item .owl-nav .owl-prev span,
      .slide-one-item .owl-nav .owl-next span {
        font-size: 30px; }
      .slide-one-item .owl-nav .owl-prev:hover,
      .slide-one-item .owl-nav .owl-next:hover {
        color: #000; }
      .slide-one-item .owl-nav .owl-prev:active, .slide-one-item .owl-nav .owl-prev:focus,
      .slide-one-item .owl-nav .owl-next:active,
      .slide-one-item .owl-nav .owl-next:focus {
        outline: none; }
    .slide-one-item .owl-nav .owl-prev {
      left: 20px; }
    .slide-one-item .owl-nav .owl-next {
      right: 20px; }
    .slide-one-item .owl-dots {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      z-index: 2; }
      .slide-one-item .owl-dots .owl-dot {
        display: inline-block; }
        .slide-one-item .owl-dots .owl-dot > span {
          -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
          display: inline-block;
          width: 15px;
          height: 3px;
          background: rgba(0, 123, 255, 0.4);
          margin: 3px; }
        .slide-one-item .owl-dots .owl-dot.active > span {
          width: 15px;
          background: #007bff; }
  
  .thumbnail {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateY(50%) translateX(-50%);
    -ms-transform: translateY(50%) translateX(-50%);
    transform: translateY(50%) translateX(-50%);
    z-index: 99; }
    .thumbnail li {
      display: inline-block; }
      .thumbnail li a {
        display: block;
        margin: 4px; }
        .thumbnail li a img {
          width: 50px;
          border-radius: 50%;
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
      .thumbnail li.active a img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }
  