{% extends "base.html" %}
{% load static %}
{% block title %}Carrito{% endblock %}


{% block content %}

<style>
    .input-group{
        width: 50%;
    }
    @media (max-width: 600px) {
        .table {
            font-size: 2.2vw; 
        }

        .input-group{
            width: 100%;
            font-size: 2vw; 
        }
        .input-group a{
            font-size: 1.5vw; 
            height: 15px;
        }

        .input-group input{
            font-size: 2vw; 
            height: 10px;
            width: 2% !important;
        
        }


      }
</style>
<div class="site-section">
    <div class="container">
      <div class="row mb-1">
        {% if order.items.count > 0 %}
          <div class="col-md-12">
              <div class="site-blocks-table">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th>Tipo de inversión</th>
                        <th>Proyecto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                        <tr>
                            <td class="product-thumbnail">
                                {{ item.get_label_type_choice }}
                            </td>
                            <td>
                                {{ item.project.name }}
                            </td>
                            <td>
                                ${{ item.project.get_price }}
                            </td>
                            <td>
                                <div class="input-group">
                                    <a href="{% url 'decrease-quantity-cart' item.id %}" class="btn btn-sm btn-outline-secondary" type="button">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="text"  class="form-control text-center" style="width: 3vw;" value="{{ item.quantity }}">
                                    <a href="{% url 'increase-quantity-cart' item.id %}" class="btn btn-sm btn-outline-secondary" type="button">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                $ {{ item.get_total_item_price }}
                            </td>
                            <td>
                                <a href="{% url 'remove-from-cart' item.id %}" class="button-plant">x</a>
                            </td>
                        </tr>
                         {% endfor %}
                    </tbody> 
                 </table>
                    {% else %}
                    <div class="jumbotron">
                        {% if request.user.is_anonymous %}
                            <h1 class="display-4">Hola, Inversor</h1>
                        {% else %}
                            <h1 class="display-4">Hola, {{ request.user  }}</h1>
                        {% endif %}
                        <p class="lead">No hay árboles en su carrito. </p>
                        <hr class="my-4">
                        <p>Para comenzar a invertir en reforestación, échale un vistazo a los proyectos que tenemos disponibles</p>
                        <p class="lead">
                            <a class="button-plant" href="{% url 'projects' %}">Ir a comprar</a>
                        </p>
                    </div> 
                    {% endif %}   
              </div>
          </div>
          
     </div>
      {% if order.items.count > 0  %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                             
            </div>
            <div class="col-md-6 col-sm-12 p-3">
                <div class="row justify-content-end">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Carrito Total</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{ order.get_subtotal }}</strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{ order.get_total }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-grid gap-2">
                                    <a class="button-plant btn-lg py-3 text-center" href="{% url 'facturacion'%}">Continúa con tu pago</a>
                                    <a href="{% url 'projects' %}"><i class="material-icons">keyboard_backspace</i>Regresar</a>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

      
    </div>
</div>

{% endblock %}


