{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load add_attr %}
{% block title %}Proyecto{% endblock %}
{% load static %}
{% block content %}
{% load permission_tags %}


<style>
.banner-producto {
  background-color: #018669;
  background-image: url("{{project.tipoarbol.image_back.url}}");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.banner-producto .titulo-cientifico {
  font-family: "comfortaa-bold";
  color: #fff;
  font-size: 40px;
  text-shadow: 3px 4px 7px rgba(81,67,21,1);
}
.banner-producto .titulo-arbol {
  font-family: "comfortaa-bold";
  color: #fff;
  font-size: 20px;
  text-shadow: 3px 4px 7px rgba(81,67,21,1);
}

.banner-producto .contenedor-datos {
    background-color: #fff;
    padding: 50px;
    padding-left: 30px;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px -1px rgb(0 0 0 / 5%);
    box-shadow: 10px 10px 5px -1px rgb(0 0 0 / 5%);
    margin-bottom: -45px;
    position: relative;
}
.banner-producto .titulo-producto {
  font-family: "comfortaa-bold";
  color: #035941;
  font-size: 30px;
}
.banner-producto .descripcion-producto {
  font-family: "lato-regular";
  color: #035941;
  font-size: 16px;
}

.banner-producto .datos-producto {
  list-style: none;
  padding: 0;
}

.banner-producto .datos-producto li {
  font-family: "lato-bold";
  font-size: 16px;
  color: #013f30;
}
.banner-producto .datos-producto li span {
  font-family: "lato-bold";
  font-size: 16px;
  color: #f2622e;
}
.banner-producto .costo {
  text-align: right;
  font-family: "lato-regular";
  color: #013f30;
  font-size: 14px;
}
.banner-producto .gift-check {
  font-family: "lato-regular";
  font-size: 14px;
  color: #5f5f5f;
}
.banner-producto .duracion {
  font-family: "lato-bold";
  font-size: 12px;
  color: #013f30;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 20px;
}
.banner-producto .costo {
  text-align: right;
  font-family: "lato-regular";
  color: #013f30;
  font-size: 14px;
}
.banner-producto .costo span {
  text-align: right;
  font-family: "comfortaa-bold";
  font-size: 20px;
  color: #f2622e;
}
.banner-producto .contenedor-datos::after {
  content: "";
  position: absolute;
  width: 225px;
  height: 285px;
  bottom: -30px;
  right: 0px;
  background: url("{{project.tipoarbol.image_tree.url}}");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .banner-producto .contenedor-datos::after {
    display: none;
  }
  .col-img{
    padding: 0px 2px;
  }

}



.titulo-galeria{
  font-family: "comfortaa-bold";
    color: #035941;
    font-size: 30px;
}
.subtitlo-galeria{
  font-family: "comfortaa-bold";
    color: #035941;
    font-size: 20px;
}
.p-galeria{
  font-family: "lato-regular";
    color: #035941;
    font-size: 16px;
}
.card-galery{
     position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    box-shadow: 10px 5px 5px #09111e15 !important;
    padding: 20px;
}

.card-galery h2{
  font-family: "comfortaa-bold";
   color: #035941;
   margin: 1rem;
}
.card-galery img{
    max-height: 250px;  
    min-height: 95px;
    min-width: 100%;  
    border-radius: 20px;
    
}
.card-galery span{
  font-family: "lato-regular";
    color: #035941;
    font-size: 16px;
}
.fondob{
  background-color: #ffffff !important;
}

</style>
<nav class="fondob" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/projects">Proyectos</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
  </ol>
</nav>
<div class="banner-producto">
  <div class="container">
    {% if user|can:'manage_a_project' %}
      <a class="btn btn-success" href="{% url 'editar' project.pk %}" role="button">Editar</a>
      <a class="btn btn-danger" href="{% url 'eliminar' project.pk %}" role="button">Eliminar</a>
    {% endif %}
    <br>
    <div class="row d-flex align-items-center">
      <div class="col-xl-4">
        
        <h2 class="titulo-cientifico">{{ project.tipoarbol.name }}</h2>
        <h4 class="titulo-arbol">{{ project.tipoarbol.especie }}</h4>
        
      </div>
      <div class="col-xl-8">
        <div class="contenedor-datos">
          <h2 class="titulo-producto">{{ project.name }}</h2>
          <p class="descripcion-producto">{{ project.resena }}</p>
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-xl-9 col-12 p-0">
                <ul class="datos-producto">
                  <li id="co2_consumed">Carbono capturado: <span>31 kg por arbol/Año</span></li>
                  <li>Rentabilidad este mes: <span>{{ project.get_rentabilidad_actual }} %</span> </li>
                  <li>Fecha de plantación: <span>{{ project.plantation_date }}</span> </li>
                  <li>Hectarias: <span>{{ project.n_hectares }}</span> </li>
                  <li>Fecha de corte: <span>{{ project.corte_date }}</span> </li>
                  <li><a class="btn" href="{{ project.project_link }}" target="_blank">Ver en mapa</a></li>
                  <!-- <li><a class="btn" href="{{ project.coordinates }}" target="_blank"> Ver coordenadas en mapa...</a></li> -->
                </ul>
              </div>
              <div class="col-xl-3 col-12">
                <span  class="costo">Costo por arbol: $<span id="costo">{{ project.get_price }}</span>USD.</span>
                 
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 p-0">
                <p class="gift-check">Lote {{ project.n_trees }} Árboles disponibles en este lote</p>
                <p class="gift-check"> {{ project.trees_left }} Árboles Disponibles</p>
                
              </div>
              <div class="col-md-4">
                <div class="duracion p-2">
                  Edad:</br>
                  {{ project.get_tree_age_years }}
                </div>
              </div>
            </div>
          </div>
          {% if activo %}
          <form method="POST">
          <div class="row align-items-center">
            <div class="col-md-8">
              {% csrf_token %}
              <p>Tipo de inversión:</p>
              {% if form.errors %}
                  {{ form.type_inversion|add_attr:'is-invalid'}}
              {% else %}
                  {{ form.type_inversion }} 
              {% endif %}
              <div class="invalid-feedback">
                  {{ form.type_inversion.errors }}
              </div>
            </div>
            <div class="col-md-4">
              <a style="cursor: help;" data-bs-toggle="modal" data-bs-target="#necesitasAyuda">
                <i style="margin-right: 0px !important" class="material-icons">info</i>
                ¿Necesitas ayuda?
              </a>
              <!-- Modal -->
              <div class="modal fade" id="necesitasAyuda" tabindex="-1" aria-labelledby="necesitasAyudaLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="necesitasAyudaLabel">Tipos de inversión</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <strong>¿Qué es una inversión recurrente y una inversión única?</strong>
                    </br>
                      <p style="text-align: justify;">
                        <ul>
                          Son dos formas de inversión que ofrecemos en nuestra plataforma:
                          <li>Bajo el modelo de inversión recurrente o suscripción mensual decides un monto a invertir o cantidad de árboles mensuales a adquirir y este será cargado a tú tarjeta de crédito mes a mes de forma automática. </li>
                          <li>Por otro lado, con la inversión de pago único se realiza una sola transacción, requiriendo volver a realizar el proceso de compra manualmente para adquirir árboles adicionales.</li>
                    
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <br>
          <div class="row  align-items-center">
            <div class="col-6 col-md-auto col-sm-6">
              Cantidad:
              <div class="input-group mb-3" style="max-width: 120px;">
                
                <div class="input-group-pretend">
                    <a></a>
                    <a  id="disminuir_arboles" class="btn btn-outline-primary">
                        &minus;
                    </a>
                </div>
                
                {% if form.quantity.errors %}
                    {{ form.quantity|add_attr:'is-invalid'}}
                {% else %}
                    <input type="text" name="quantity" value="1" min="0" class="form-control text-center" required="" id="id_quantity">
                {% endif %}
                <div class="invalid-feedback">
                    {{ form.quantity.errors }}
                </div>
                <div class="input-group-pretend">
                    <a id="aumentar_arboles" class="btn btn-outline-primary">
                        &plus;
                    </a>
                </div>
              </div>
            </div>
            
            <div class="col-6 col-md-auto col-sm-6 text-right">
                <span class="text-black">Total: </span>
                <strong>$<span id="total_pdetail" class="text-black">0</span>USD.</strong>
            </div>
          
          </div>
          <button type="submit" class="btn-sm button-plant buy-now">Añadir al carrito</button>

          </form>
        {% else %}
          <div class="alert alert-danger" role="alert">
            Este proyecto se encuentra cerrado para invertir
          </div>
        {% endif %}
       </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="contenedor-mapa">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13210.047534284795!2d-73.6571033846497!3d10.150498033378561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5ff9d669b5bf3d%3A0x741664a12628c5c3!2sEl%20Diluvio%2C%20Valledupar%2C%20Cesar!5e0!3m2!1ses!2sco!4v1592583001094!5m2!1ses!2sco" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
 <div class="card-galery">
   <div class="card-body-galery">
    <h2>Galería</h2>
    <span>Observa todos los avances de este proyecto.</span>
     <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col col-img">
                <div class="py-4"><image src="{%static 'img/image/techoarb.jpg'%}"></div>
              </div>
              <div class="col col-img">
                <div class="py-4"><image src="{%static 'img/image/panorama.jpg'%}"></div>
              </div>
              <div class="col col-img">
                <div class="py-4"><image src="{%static 'img/image/sembrado.jpg'%}"></div>
              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col col-img">
                <div class="py-4"><image src="{%static 'img/image/horizontal.jpg'%}"></div>
              </div>
              <div class="col col-img">
                <div class="py-4"><image src="{%static 'img/image/sembrado.jpg'%}"></div>
              </div>
              <div class="col col-img">
                <div class="py-4"><image src="{%static 'img/image/panorama.jpg'%}"></div>
              </div>
              
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>  
</div>  





<script>
  var btn_disminuir = document.getElementById("disminuir_arboles")
  var btn_aumentar = document.getElementById("aumentar_arboles")
  var precio = document.getElementById("costo")
  var total_pdetail_campo = document.getElementById("total_pdetail")
  var total_pdetail = parseInt(total_pdetail_campo.innerHTML)
  total = 0
  total_pdetail_campo.innerHTML = parseFloat(precio.innerHTML)
  btn_aumentar.addEventListener("click", function(){
    campo_cantidad = document.getElementById("id_quantity")
    parseInt(campo_cantidad)
    campo_cantidad.value ++
    total = parseInt(campo_cantidad.value) * parseFloat(precio.innerHTML)
    total_pdetail_campo.innerHTML = total.toFixed(2)
  })

  btn_disminuir.addEventListener("click", function(){
    campo_cantidad = document.getElementById("id_quantity")
    
    parseInt(campo_cantidad)
    
    if(campo_cantidad.value>1){
      campo_cantidad.value --
    }
    total = parseInt(campo_cantidad.value) * parseFloat(precio.innerHTML)
    total_pdetail_campo.innerHTML = total.toFixed(2)
    console.log(parseInt(campo_cantidad.value))
  })

 
</script>


{% endblock %}