{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<style>
.contenedor-calculadora-producto{
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px -1px rgb(0 0 0 / 5%);
    box-shadow: 10px 10px 5px -1px rgb(0 0 0 / 5%);
    padding: 45px 20px;
}

.contenedor-contador-extra{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
h2{
    font-size: 40px;
    font-family: "comfortaa-bold";
    color: #035941;
    text-align: center;
    margin-bottom: 25px;
  }

.info-inicial p {
font-family: "Lato-Bold";
color: #013f30;
font-size: 16px;
text-align: center;
margin: 0;
}


element.style {
}
.info-inicial p {
    font-family: "Lato-Bold";
    color: #013f30;
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.paso-1 {
    font-size: 20px !important;
    color: #035941;
    text-align: center;
    margin-top: 45px !important;
}

.calc-items-month {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.calc-items-month li {
    justify-content: center;
    align-items: center;
}

.calc-items-month a:hover, .calc-items-month a.active {
    color: #fff;
    background: #f2622e;
}

.calc-items-month a {
    font-size: 20px;
    text-decoration: none;
    font-family: "Comfortaa-bold";
    color: #035941;
    margin: 0px 10px;
    background: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 10%);
    transition: all 0.3s;
}

.tab-pane {
    font-family: "lato-bold";
    font-size: 20px;
    color: #013f30;
    text-align: center;
    margin: 45px 0;
}

.calc-items {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}


.calc-items li {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Comfortaa-bold";
    color: #035941;
    margin: 0px 10px;
    padding: 14px;
    background: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 10%);
    transition: all 0.3s;
}
.img-prev-item {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2622e;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.calc-items li a {
    font-size: 20px;
    font-family: "Comfortaa-bold";
    color: #035941;
    text-decoration: none;
    transition: all 0.3s;
}
.formulario-chart {
    justify-content: center;
    padding: 0;
    list-style: none;
    width: 100%;
}
.formulario-chart li {
    margin: 15px 50px;
}
.formulario-chart li label {
    font-family: "lato-regular";
    font-size: 15px;
    color: #5f5f5f;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.formulario-chart li input {
    width: 100%;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background-color: #f5f5f4;
    padding: 10px;
    padding-left: 20px;
    font-family: "lato-regular";
    font-size: 15px;
    color: #5f5f5f;
}
.calcular button {
    justify-content: center;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #f2622e;
    color: #fff !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none !important;
    border: 0;
    outline: 0;
}
.graficas-op {
    display: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
.tab-pane {
    font-family: "lato-bold";
    font-size: 20px;
    color: #013f30;
    text-align: center;
    margin: 45px 0;
}
.contenedor-botones-inversion {
    margin-top: 50px;
}

.contenedor-botones-inversion .estilo-1 {
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: #f2622e;
    color: #fff !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none !important;
}
.contenedor-botones-inversion .estilo-2 {
    justify-content: start;
    font-size: 20px;
    color: #f2622e;
    text-decoration: none;
    border: 0;
    outline: 0;
    background-color: #fff;
}
@media (max-width: 767px) {
    ul li {
        display: block !important;
    }
}

ul li {
    display: inline-block;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
</style>

<div class="info-inicial">
    <h2>Calculadora para invertir en tus sueños</h2>
    <p>¿Sabes cuánto debes ahorrar para cumplir tus sueños? ¡Compruébalo con nuestra Calculadora de inversiones!</p>
    <p class="paso-1">Step 1: Escoge tu tipo de inversión</p>
</div>

<div class="col-xl-12">
    <ul class="calc-items-month nav">
        <li id="home-item" class="my-4">
            <a data-toggle="tab" href="#nav-monthly" role="tab" class="active p-2">Monthly Investment</a>
        </li>
        <li id="university-item" class="my-4">
            <a data-toggle="tab" href="#nav-onetime" role="tab" class="p-2">One time investment</a>
        </li>
    </ul>

</div>
<div class="row">
    <div class="col-xl-12">
        <div class="info-inicial info-2">
            <p class="paso-1">Paso 2: Escoge tu Sueño</p>
        </div>
        <ul class="calc-items">
            <li id="home-item">
                <div class="img-prev-item"><img src="https://www.treeconomy.com.co/wp-content/themes/Treeconomy/img/home.svg" alt=""></div><a data-toggle="tab" href="#nav-home" role="tab">Dream Home</a>
            </li>
            <li id="university-item">
                <div class="img-prev-item"><img src="https://www.treeconomy.com.co/wp-content/themes/Treeconomy/img/university.svg" alt=""></div><a data-toggle="tab" href="#nav-profile" role="tab">Children's University</a>
            </li>
            <li id="car-item">
                <div class="img-prev-item"><img src="https://www.treeconomy.com.co/wp-content/themes/Treeconomy/img/internet-of-things.svg" alt=""></div><a data-toggle="tab" href="#nav-car" role="tab">Wealth Planning</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Paso 3: ¡Trabajemos juntos para hacer realidad la casa de sus sueños! Elija una cantidad mensual que pueda invertir, haga clic en calcular y aparecerá su inversión total más las ganancias. ¡Fácil y confiable!</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Paso 3: ¡Puede planificar proactivamente la educación de sus hijos! Elija una inversión mensual y asegure el futuro de sus seres queridos. ¡Fácil y gratificante!</div>
    <div class="tab-pane fade" id="nav-car" role="tabpanel" aria-labelledby="nav-car-tab">Paso 3: ¡Invertir en reforestación no solo le brinda la ventaja de una inversión innovadora, sino que lo impulsará a convertirse en un contribuyente para ayudar a nuestro planeta y al mismo tiempo tener éxito financiero!</div>
    <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab"></div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="info-inicial info-2">
            <p class="paso-1">Paso 4: Calcula tu inversión</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane active" id="nav-monthly" role="tabpanel" aria-labelledby="nav-monthly-tab">
                <div class="row">
                    <div class="col-xl-12">
                        <form action="">
                            <ul class="formulario-chart">
                                <li>
                                    <label for="Pricetwo">Monthly Investment</label><br>
                                    <input type="text" name="currency-field" id="valor_mensual" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="$500" data-type="currency">
                                </li>
                                <li>
                                    <label for="PriceThree">Total months:</label><br>
                                    <input type="number" id="meses_global" value="120" disabled="true">
                                </li>
                                <li style="display: none;">
                                    <label for="PriceFour">Valor total anual</label><br>
                                    <input type="text" name="currency-field" id="valor_anual" class="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="$9,999.96" data-type="currency">
                                </li>
                                <li>
                                    <label for="PriceFive">Annual returns: 12% recommended</label><br>
                                    <input type="number" id="rentabilidad" value="12">
                                </li>
                                <li>
                                    <div class="calcular">
                                        <button type="button" onclick="updateChart()">Calculate</button>
                                    </div>
                                </li>
                                <li>
                                    <label for="PriceOne">Total Revenue Generated</label><br>
                                    <input type="text" name="currency-field" id="valor_global" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="$131,557.54" data-type="currency">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
               
                <div class="row graficas-op">
                    <div class="col-xl-7 col-12">
                        <h3 class="tittle-graph">Profitability Time Line</h3>
                        <p style="font-size: 15px">Nota: La inversion anual tiene un incremento del 3% de la inflación del año anterior</p>
                        <div class="box-chart-bar">
                            <canvas id="myChartBar" class="chartjs-render-monitor" style="display: block;"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-5 col-12">
                        <h3 class="tittle-graph">Total Revenue Generated</h3>
                        <div class="box-chart-pie mt-5">
                            <canvas id="myChartPie" height="0" style="display: block; width: 0px; height: 0px;" width="0"></canvas>
                        </div>
                    </div>
                </div>

                <div class="contenedor-botones-inversion">
                    <ul>
                        
                        <li class="m-3">
                           
                            <button type="button" class="estilo-2" data-toggle="modal" data-target="#exampleModalCenter">Check investment plan</button>
                            <!-- Modal month-->
                            <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Plan de inversión</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <form action="">
                                                            
                                                            <ul class="formulario-chart centered-wea">
                                                                <li>
                                                                    <label for="Pricetwo">Valor del aporte</label><br>
                                                                    <input type="text" name="currency-field" id="valor_mensual_month_pop" disabled="disabled" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$833.33">
                                                                </li>
                                                                <li>
                                                                    <label for="PriceFive">Número de meses</label><br>
                                                                    <input type="number" id="rentabilidad_pop" value="12" placeholder="12" disabled="disabled">
                                                                </li>
                                                                <li>
                                                                    <label for="PriceOne">Total ingreso</label><br>
                                                                    <input type="text" name="currency-field" id="valor_global_pop" disabled="disabled" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$100,000.00">
                                                                </li>
                                                                <li>
                                                                    <button type="button" class="Button-descargar" disabled="disabled">Descargar</button>
                                                                </li>
                                                            </ul>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <p style="font-size: 15px;">*La inversion anual tiene un incremento del 3% de la inflación del año anterior</p>
                                                    <table class="table">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <!-- <th scope="col">Inflación</th> -->
                                                                <th scope="col">Año</th>
                                                                <th scope="col">Inversión anual*</th>
                                                                <th scope="col">Inversión acumulada</th>
                                                                <th scope="col">Utilidad</th>
                                                                <th scope="col">Capital final del periodo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <!-- <td id="inflacionUnoMonth">0</td> -->
                                                                <td>1</td>
                                                                <td id='inversionAnualUnoMonth'>0</td>
                                                                <td id='inversionUnoMonth'>0</td>
                                                                <td id="interesesUnoMonth">0</td>
                                                                <td id="saldoUnoMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                                <!-- <td id="inflacionDosMonth">0</td> -->
                                                                <td>2</td>
                                                                <td id='inversionAnualDosMonth'>0</td>
                                                                <td id='inversionDosMonth'>0</td>
                                                                <td id="interesesDosMonth">0</td>
                                                                <td id="saldoDosMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                                <!-- <td id="inflacionTresMonth">0</td> -->
                                                                <td>3</td>
                                                                <td id='inversionAnualTresMonth'>0</td>
                                                                <td id='inversionTresMonth'>0</td>
                                                                <td id="interesesTresMonth">0</td>
                                                                <td id="saldoTresMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                                <!-- <td id="inflacionCuatroMonth">0</td> -->
                                                                <td>4</td>
                                                                <td id='inversionAnualCuatroMonth'>0</td>
                                                                <td id='inversionCuatroMonth'>0</td>
                                                                <td id="interesesCuatroMonth">0</td>
                                                                <td id="saldoCuatroMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                                <!-- <td id="inflacionCincoMonth">0</td> -->
                                                                <td>5</td>
                                                                <td id='inversionAnualCincoMonth'>0</td>
                                                                <td id='inversionCincoMonth'>0</td>
                                                                <td id="interesesCincoMonth">0</td>
                                                                <td id="saldoCincoMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                            <!-- <td id="inflacionSeisMonth">0</td> -->
                                                                <td>6</td>
                                                                <td id='inversionAnualSeisMonth'>0</td>
                                                                <td id='inversionSeisMonth'>0</td>
                                                                <td id="interesesSeisMonth">0</td>
                                                                <td id="saldoSeisMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                            <!-- <td id="inflacionSieteMonth">0</td> -->
                                                                <td>7</td>
                                                                <td id='inversionAnualSieteMonth'>0</td>
                                                                <td id='inversionSieteMonth'>0</td>
                                                                <td id="interesesSieteMonth">0</td>
                                                                <td id="saldoSieteMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                                <!-- <td id="inflacionOchoMonth">0</td> -->
                                                                <td>8</td>
                                                                <td id='inversionAnualOchoMonth'>0</td>
                                                                <td id='inversionOchoMonth'>0</td>
                                                                <td id="interesesOchoMonth">0</td>
                                                                <td id="saldoOchoMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                            <!-- <td id="inflacionNueveMonth">0</td> -->
                                                                <td>9</td>
                                                                <td id='inversionAnualNueveMonth'>0</td>
                                                                <td id='inversionNueveMonth'>0</td>
                                                                <td id="interesesNueveMonth">0</td>
                                                                <td id="saldoNueveMonth">0</td>
                                                            </tr>
                                                            <tr>
                                                            <!-- <td id="inflacionDiezMonth">0</td> -->
                                                                <td>10</td>
                                                                <td id='inversionAnualDiezMonth'>0</td>
                                                                <td id='inversionDiezMonth'>0</td>
                                                                <td id="interesesDiezMonth">0</td>
                                                                <td id="saldoDiezMonth">0</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="m-3">
                            <p class="paso-1">Paso 5: Comienza a plantar tus árboles</p>
                            <a class="estilo-1" href="{% url 'projects' %}">Start montlhy investment </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="tab-pane" id="nav-onetime" role="tabpanel" aria-labelledby="nav-onetime-tab">
                <div class="row">
                    <div class="col-xl-12">
                        <form action="">
                            <ul class="formulario-chart">
                                <li>
                                    <label for="Pricetwo">Valor a invertir</label><br>
                                    <input type="text" name="currency-field" id="valor_mensual_one" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="$833.33" data-type="currency">
                                </li>
                                <li class="hide-this">
                                    <label for="PriceThree">Total months:</label><br>
                                    <input type="number" id="meses_global" value="120" disabled="true">
                                </li>
                                <li class="hide-this">
                                    <label for="PriceFour">Valor total anual</label><br>
                                    <input type="text" name="currency-field" id="valor_anual" class="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="$9,999.96" data-type="currency">
                                </li>
                                <li>
                                    <label for="PriceFive">Annual returns: 12% recommended</label><br>
                                    <input type="number" id="rentabilidad_one" value="12">
                                </li>
                                <li>
                                    <div class="calcular">
                                        <button type="button" onclick="updateChartOne()">Calculate</button>
                                    </div>
                                </li>
                                <li>
                                    <label for="PriceOne">Total Revenue Generated</label><br>
                                    <input type="text" name="currency-field" id="valor_global_one" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="$2,588.19" data-type="currency">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <div class="row graficas-op">
                    <div class="col-xl-7 col-12">
                        <h3 class="tittle-graph">Profitability Time Line</h3>
                        <div class="box-chart-bar">
                            <canvas id="myChartBarOne"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-5 col-12">
                        <h3 class="tittle-graph">Total Revenue Generated</h3>
                        <div class="box-chart-pie mt-5">
                            <canvas id="myChartPieOne" height="0" style="display: block; width: 0px; height: 0px;" width="0"></canvas>
                        </div>
                    </div>
                </div>

                <div class="contenedor-botones-inversion">
                    <ul>
                        <li class="m-2">
                            <button type="button" class="estilo-2" data-toggle="modal" data-target="#exampleModalCenterOne">Check investment plan</button>
                            <!-- one time modal -->
                            <div class="modal" id="exampleModalCenterOne" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Plan de inversión</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <form action="">
                                                            <ul class="formulario-chart centered-wea">
                                                                <li>
                                                                    <label for="Pricetwo">Valor del aporte</label><br>
                                                                    <input type="text" name="currency-field" id="valor_mensual_one_pop" disable="disable" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$833.33">
                                                                </li>
                                                                <li>
                                                                    <label for="PriceFive">Número de meses</label><br>
                                                                    <input type="number" id="rentabilidad_one_pop" value="12" placeholder="12" disable="disable">
                                                                </li>
                                                                <li>
                                                                    <label for="PriceOne">Total ingreso</label><br>
                                                                    <input type="text" name="currency-field" id="valor_global_one_pop" disable="disable" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$100,000.00">
                                                                </li>
                                                                <li>
                                                                    <button type="button" class="Button-descargar" disabled="disabled" >Descargar</button>
                                                                </li>
                                                            </ul>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <table class="table">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col">Año</th>
                                                                <th scope="col">Inversión</th>
                                                                <th scope="col">Utilidad</th>
                                                                <th scope="col">Saldo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                                <td>1</td>
                                                                <td id='inversionUnoOne'>0</td>
                                                                <td id="interesesUnoOne">0</td>
                                                                <td id="saldoUnoOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td id='inversionDosOne'>0</td>
                                                                <td id="interesesDosOne">0</td>
                                                                <td id="saldoDosOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td id='inversionTresOne'>0</td>
                                                                <td id="interesesTresOne">0</td>
                                                                <td id="saldoTresOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td id='inversionCuatroOne'>0</td>
                                                                <td id="interesesCuatroOne">0</td>
                                                                <td id="saldoCuatroOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td id='inversionCincoOne'>0</td>
                                                                <td id="interesesCincoOne">0</td>
                                                                <td id="saldoCincoOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td id='inversionSeisOne'>0</td>
                                                                <td id="interesesSeisOne">0</td>
                                                                <td id="saldoSeisOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td id='inversionSieteOne'>0</td>
                                                                <td id="interesesSieteOne">0</td>
                                                                <td id="saldoSieteOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td id='inversionOchoOne'>0</td>
                                                                <td id="interesesOchoOne">0</td>
                                                                <td id="saldoOchoOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>9</td>
                                                                <td id='inversionNueveOne'>0</td>
                                                                <td id="interesesNueveOne">0</td>
                                                                <td id="saldoNueveOne">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td id='inversionDiezOne'>0</td>
                                                                <td id="interesesDiezOne">0</td>
                                                                <td id="saldoDiezOne">0</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="m-2">
                            <p class="paso-1">Paso 5: Comienza a plantar tus árboles</p>
                            <a class="estilo-1" href="{% url 'projects' %}">Start montlhy investment </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<script src={% static 'account/js/sakura.js' %}></script>
<script src={% static 'account/js/sakuraOnetime.js' %}></script>

{% endblock %}

