{% load static %}
<style>
    video, .inicial {
      border: 0px;
      border-radius: 25px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
</style>

<div class="row">
  <div class="col">
    <div class="card mx-5 inicial">
        <div class="card-body text-center" >
            <h4 class="card-title "><img style="height: 100px;" src="https://treeconomyapp-crm-bucket.s3.amazonaws.com/static/img/image/logo_treeconomy.png" alt="treeconomy" ></h4>
            <p style="text-align: justify;">Bienvenido a la plataforma de inversión Treeconomy. Aquí puedes invertir en nuestros proyectos de dos formas diferentes: haciendo una única inversión, o suscribiéndote a una inversion mensual donde irás adquiriendo nuevos árboles cada mes, ampliando tus capacidades futuras.</p>
            <div class="row">
                <div class="col pb-2">
                    <a href="https://treeconomy.com.co/es/" class="button-plant">Visitar página web</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</br>

<div class="row videos" style="text-align: center;">
  <div class="col-lg-6">
    <h3>¿Qué es Treeconomy?</h3>
    {% if video_que_es %}
      <video  
      style="width: 100%;" 
      controls="controls"
      id="video_que_es"
      {% if video_que_es.thumb %}
      poster="{{ video_que_es.thumb.url }}"
      {% endif %}
      >
        <source src="{{ video_que_es.video.url }}" type="video/mp4">
      </video>
    {% endif %}
  </div>
  <div class="col-lg-6">
    <h3>Impacto...</h3>
    {% if video_que_es %}
      <video  style="width: 100%;" controls
      {% if video_impacto.thumb %}
      poster="{{ video_impacto.thumb.url }}"
      {% endif %}
      >
          <source src="{{ video_impacto.video.url }}" type="video/mp4"></source>
          Your browser does not support the video tag.
        </video>
    {% endif %}
  </div>
</div>