@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800|Open+Sans:400,700");
@font-face {
  font-family: "comfortaa-bold";
  src: url("../css/fonts/Comfortaa-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "comfortaa-regular";
  src: url("../css/fonts/Comfortaa-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "comfortaa-light";
  src: url("../css/fonts/Comfortaa-Light.ttf") format("truetype");
}
@font-face {
  font-family: "lato-bold";
  src: url("../css/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "lato-regular";
  src: url("../css/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato-light";
  src: url("../css/fonts/Lato-Light.ttf") format("truetype");
}
.mask-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 997;
}

html,
body {
  height: 100%;
}

body {
  background-color: #eaeaea;
  border: 30px solid #ffffff;
  border-left: 60px solid #ffffff;
  overflow-y: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidenav a.disable {
  background-color: #ececec !important;
}
.containerDate {
  height: 100%;
  overflow-y: auto;
  padding: 80px 100px 30px 100px;
  width: 100%;
}

input:focus {
  outline: 0;
}

select:focusul {
  outline: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-backdrop {
  background-color: rgba(128, 130, 133, 0.9);
}

.modal-backdrop.show {
  opacity: 1;
}

.modal .modal-content {
  border: 0;
}

.modal .modal-body {
  padding: 30px;
}

.modal .modal-body .terms {
  height: 500px;
  overflow-y: auto;
  color: #747779;
  font-size: 14px;
  border: 1px solid #ececec;
  padding: 15px;
  border-radius: 5px;
}

.modal button {
  position: absolute;
  right: 10px;
  top: 5px;
}

.modal h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  color: #808285;
}

.modal ul {
  padding: 0;
  width: 85%;
}

.modal ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
  color: #292929;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
}

.modal ul li img {
  width: 30px;
  margin-right: 15px;
  min-width: 30px;
}

.m-60 {
  margin-top: -60px;
}

.w-100 {
  width: 100%;
}

a.help {
  position: fixed;
  background-color: #ffd200;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #292929;
  right: 70px;
  bottom: 70px;
  padding: 5px;
  font-size: 20px;
  color: #454648;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.iframeVideoResponsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.iframeVideoResponsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.nextSlider {
  display: inline;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nextSliderLeft {
  right: -8%;
}

.nextSliderRight {
  left: -4%;
}

.button {
  border-radius: 10000px;
  text-align: center;
  min-width: 248px;
  padding: 5px;
  margin: 0 auto;
  font-size: 20px;
  display: inline-block;
}

.button img {
  margin-right: 10px;
}

.button-yellow {
  background-color: #31401c;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #31401c;
  text-decoration: none !important;
  transition: all 0.3s;
}
.button-yellow:hover {
  background-color: #5c6b48;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #5c6b48;
  text-decoration: none !important;
  transition: all 0.3s;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.button-return {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
}

.container-radius {
  position: relative;
}

.container-radius:after {
  content: "";
  position: absolute;
  width: 672px;
  height: 672px;
  border: 1px solid #979797;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -2;
}

.container-radius:before {
  content: "";
  position: absolute;
  width: 398px;
  height: 398px;
  border: 1px solid #979797;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -2;
}

.container-radius .border-two:after {
  content: "";
  position: absolute;
  width: 367px;
  height: 367px;
  border: 1px solid #979797;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -2;
}

.no-padding {
  padding: 0;
}

.w-50 {
  width: 50%;
  padding: 0 10px;
  float: left;
}

.w-50 img {
  margin-right: 10px;
}

.w-50 p {
  display: inline-block;
  vertical-align: middle;
}

.w-25 {
  width: 25%;
  padding: 0 15px;
  float: left;
}

.container-white {
  border-radius: 15px;
  background-color: #ffffff;
  min-height: 200px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.container-white svg {
  width: 100%;
}

.container-white:hover {
  text-decoration: none;
}

a.container-white.active {
  background-color: #00448d;
}

a.container-white.active p,
a.container-white.active h1,
a.container-white.active h2,
a.container-white.active h3,
a.container-white.active h4,
a.container-white.active h4,
a.container-white.active span {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #ffffff !important;
}

a.container-white.active path,
a.container-white.active polygon {
  fill: #ffffff;
}

a.container-white.active .bandera-blue {
  fill: #063e85;
}

a.container-white.active .bandera-yellow {
  fill: #ffd300;
}

a.container-white.active .bandera-red {
  fill: #e30520;
}

a.container-white.active img.img-bg {
  display: none;
}

.p-15 {
  padding: 15px;
}

.logo {
  font-size: 100px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.lateral {
  float: left;
  width: 60px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 998;
}

.lateral span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  color: #747779;
}

.lateral span > div {
  line-height: 20px;
}

.lateral span > div i {
  font-size: 50px;
}

.lateral span > div span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #808285;
}

.sidenav {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: -500px;
  background: #ffffff;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.sidenav .container,
.sidenav .row {
  height: 100%;
}

.sidenav h2 {
  color: #808285;
  font-size: 40px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 1;
  margin: 0;
}

.sidenav a {
  color: #808285;
  font-size: 18px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 1.11;
  overflow-wrap: break-word;
  display: block;
  border-radius: 5px;
  border: 1px solid #ececec;
  padding: 15px;
  margin: 10px;
  height: 130px;
}

.sidenav a span {
  font-size: 50px;
}

.sidenav a:hover {
  text-decoration: none;
  background-color: #ececec;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px;
  color: #808285;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  border: 0;
  margin: 0;
  height: auto;
}

.sidenav .closebtn i {
  color: #808285;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d1d3d4;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #747779;
}

.dashboard h1 {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.dashboard a.container-white p {
  color: #808285;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-left: 30px;
}

.dashboard a.container-white .content p {
  padding-left: 0;
}

.dashboard a.container-white:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.dashboard .entity-fees .container-white {
  height: 200px;
}

.dashboard .entity-fees .container-white p {
  font-size: 30px;
}

.dashboard .entity-fees .deco:after {
  width: 90%;
  height: 345px;
  bottom: -10%;
}

.rate h1 {
  background-image: url(../img/icons/separator.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  color: #ffcf01;
  font-family: "Nunito", sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.rate p.title {
  color: #ffffff;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  line-height: 1.25;
  font-weight: 700;
}

.rate h2 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 100px 0 40px 0;
}

.entity-fees {
  padding-bottom: 120px;
  position: relative;
}

.entity-fees .row {
  min-height: 250px;
}

.entity-fees a.container-white {
  height: 150px;
  min-height: auto;
  display: grid;
  position: relative;
}

.entity-fees a.container-white img.img-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px;
}

.entity-fees a.container-white img.calendar {
  width: 60px;
}

.entity-fees a.container-white p {
  color: #808285;
  font-size: 41px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.entity-fees a.container-white span {
  font-size: 24px;
  color: #808285;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  z-index: 1;
}

.entity-fees p {
  color: #808285;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.entity-fees .table-rate {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.entity-fees .table-rate tr {
  color: #747779;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.entity-fees .table-rate tr td {
  padding: 15px 30px;
}

.entity-fees .table-rate tr td:last-child {
  text-align: center;
  font-weight: 800;
}

.entity-fees .table-rate tr:first-child {
  color: #ffffff;
  background-color: #747779;
  font-size: 28px;
  text-align: center;
}

.entity-fees .table-rate tr:first-child th {
  padding: 5px;
}

.entity-fees .table-rate tr:first-child th:first-child {
  border-right: 1px solid #ffffff;
  width: 50%;
}

.entity-fees .deco {
  width: 100%;
  display: contents;
  position: relative;
}

.entity-fees .deco:after {
  content: "";
  border-radius: 10px;
  background-color: #a7c520;
  position: absolute;
  left: 43%;
  bottom: 11%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
  height: 235px;
  width: 79%;
}

.entity-fees .deco .legal-5 {
  color: #747779;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: 10px 0 20px 0;
}

.entity-fees .slider-rate {
  margin-top: -80px;
}

.entity-fees .slider-rate ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  margin: 0 20px;
}

.entity-fees .slider-rate ul li {
  display: inline-block;
  width: 95%;
}

.entity-fees .slider-rate ul li a {
  padding: 10px;
}

.entity-fees .m-100 {
  margin-top: -100px;
}

.entity-fees .select-rate .parent {
  background-color: #a7a9ac;
  border-radius: 10px;
  padding: 20px 15px 15px 15px;
}

.entity-fees .select-rate .parent p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background-image: url(../img/icons/arrow-down.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.entity-fees .select-rate .children {
  background-color: #ffffff;
  margin-top: 10px;
  height: 180px;
  overflow-y: auto;
  width: 100%;
}

.entity-fees .select-rate .children p {
  margin: 0;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #808285;
}

.entity-fees .select-rate .children p.active {
  color: #ffffff;
  background-color: #00448d;
}

.financial h2 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.financial .asset {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border-radius: 10px;
}

.financial .asset-horizontal {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.financial .asset-horizontal .left {
  float: left;
  width: 45%;
}

.financial .asset-horizontal .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.financial .asset-horizontal .right {
  float: left;
  padding: 20px;
  width: 55%;
}

.financial .asset-horizontal .right p {
  margin-top: 10px;
  color: #747779;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.financial .asset-vertical {
  width: 100%;
}

.financial .asset-vertical .top {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.financial .asset-vertical .top img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.financial .asset-vertical .top p {
  margin: 0;
  color: #747779;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  padding: 15px;
  height: 120px;
}

.financial .slider-financial {
  border-radius: 10px;
}

.simulator,
.simulator-pymes {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.simulator .progress-bar-simulator,
.simulator-pymes .progress-bar-simulator {
  width: 100%;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.simulator .progress-bar-simulator .dot,
.simulator-pymes .progress-bar-simulator .dot {
  background-color: transparent;
  max-width: 15px;
  height: 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
}

.simulator .progress-bar-simulator .dot p,
.simulator-pymes .progress-bar-simulator .dot p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 100%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  text-align: center;
  width: 280px;
  margin-top: 20px;
}

.simulator .progress-bar-simulator .bar,
.simulator-pymes .progress-bar-simulator .bar {
  background-color: #ffffff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 2px;
}

.simulator .progress-bar-simulator .active,
.simulator-pymes .progress-bar-simulator .active {
  background-color: #ffd200;
  position: relative;
}

.simulator .progress-bar,
.simulator-pymes .progress-bar {
  padding: 80px 50px 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.simulator h2,
.simulator-pymes h2 {
  color: #a7c520;
  font-size: 45px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0px 0 40px 0;
}
.espacio-full {
  min-height: 100vh;
}

.simulator h2 span,
.simulator-pymes h2 span {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.simulator a.container-white,
.simulator-pymes a.container-white {
  padding: 20px;
}

.simulator a.container-white img.img-bg,
.simulator-pymes a.container-white img.img-bg {
  max-height: none;
}

.simulator a.container-white span,
.simulator-pymes a.container-white span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 32px;
}

.simulator a.container-white img,
.simulator-pymes a.container-white img {
  max-height: 50px;
}

.simulator a.container-white p.text,
.simulator-pymes a.container-white p.text {
  font-size: 32px;
  line-height: 1;
  margin-top: 2px;
}

.simulator .container-white ul,
.simulator-pymes .container-white ul {
  padding: 0;
}

.simulator .container-white ul li,
.simulator-pymes .container-white ul li {
  display: inline-block;
  text-align: center;
  width: 20%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #747779;
  padding: 15px 10px;
}

.simulator .container-white ul.ul6 li,
.simulator-pymes .container-white ul.ul6 li {
  width: 16.66%;
}
@media (max-width: 400px) {
  .sidenav {
    width: 100% !important;
  }
  .containerDate {
    padding: 0px !important;
    padding-top: 150px !important;
  }
  .simulator h2,
  .simulator-pymes h2 {
    color: #a7c520;
    font-size: 40px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin: 0px 0 40px 0;
    text-align: left;
  }
  .simulator .container-white .int,
  .simulator-pymes .container-white .int {
    padding: 80px 0px 0 0px !important;
  }
  .entity-fees .deco:after {
    content: "";
    border-radius: 10px;
    background-color: #a7c520;
    position: absolute;
    left: 53%;
    bottom: -4%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -1;
    height: 220px;
    width: 79%;
  }
  .simulator .deco:after,
  .simulator-pymes .deco:after {
    width: 100% !important;
  }
  .simulator .container-white ul li,
  .simulator-pymes .container-white ul li {
    display: inline-block;
    text-align: center;
    width: 20%;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 12px !important;
    color: #747779;
    padding: 15px 10px;
  }
  .info-2 {
    margin-top: -20%;
  }
  .simulator #canvas-cont,
  .simulator-pymes #canvas-cont {
    position: relative;
    display: inline-block;
    /* padding: 100px; */
    border-radius: 50%;
    overflow: hidden;
    margin-top: -40px;
    float: left;
    position: absolute;
    z-index: -1;
    right: -30px !important;
  }
  .waterwave-canvas {
    display: none !important;
  }
}
.simulator .deco:after,
.simulator-pymes .deco:after {
  width: 65%;
}
.img-rentabilidad {
  max-width: 100%;
  padding: 20px;
}
.simulator .deco-special a.container-white,
.simulator-pymes .deco-special a.container-white {
  height: 260px;
}
.texto-arboles {
  text-align: center;
}
.texto-arboles i {
  color: #5c6b48;
  font-weight: bold;
}
.simulator #canvas-cont,
.simulator-pymes #canvas-cont {
  position: relative;
  display: inline-block;
  /* padding: 100px; */
  border-radius: 50%;
  overflow: hidden;
  margin-top: -40px;
  float: left;
  position: absolute;
  z-index: -1;
  right: 15%;
}

.simulator #canvas-cont canvas.waterwave-canvas,
.simulator-pymes #canvas-cont canvas.waterwave-canvas {
  background-color: transparent;
  border-radius: 50%;
}

.simulator #canvas-cont img,
.simulator-pymes #canvas-cont img {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
}

.simulator input,
.simulator-pymes input {
  margin-top: 5px;
  margin-left: 15px;
}

.simulator .rangeslider--horizontal,
.simulator-pymes .rangeslider--horizontal {
  margin-top: 20px;
}

.simulator .rangeslider__value-bubble,
.simulator-pymes .rangeslider__value-bubble {
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 45px;
  width: 100%;
  text-align: center;
  color: #747779;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.simulator .rangeslider__fill,
.simulator-pymes .rangeslider__fill {
  background-color: #9ab61d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.simulator .rangeslider__handle,
.simulator-pymes .rangeslider__handle {
  background-color: #9ab61d;
  border: 0;
  width: 30px;
  height: 30px;
  background-image: none;
}

.simulator .rangeslider__handle:after,
.simulator-pymes .rangeslider__handle:after {
  background-color: #ffffff;
  background-image: none;
  width: 15px;
  height: 15px;
}

.simulator .rangeslider--horizontal,
.simulator-pymes .rangeslider--horizontal {
  height: 5px;
}

.simulator .rangeslider--horizontal .rangeslider__handle,
.simulator-pymes .rangeslider--horizontal .rangeslider__handle {
  top: -13px;
}

.simulator .rangeslider,
.simulator-pymes .rangeslider {
  background: #747779;
}

.simulator .container-white .int,
.simulator-pymes .container-white .int {
  width: 100%;
  padding: 80px 60px 0 60px;
}

.simulator ul.help,
.simulator-pymes ul.help {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  padding: 0;
}

.simulator ul.help li,
.simulator-pymes ul.help li {
  display: grid;
}

.simulator ul.help li a,
.simulator-pymes ul.help li a {
  margin-bottom: 0;
  height: 110px;
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.simulator ul.help li a p,
.simulator-pymes ul.help li a p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  text-align: center;
  line-height: 20px;
}

.simulator ul.help li a p span,
.simulator-pymes ul.help li a p span {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.simulator ul.help li a input,
.simulator-pymes ul.help li a input {
  width: 80%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom-color: #ececec;
}

.simulator ul.help li a.container-white.active input,
.simulator-pymes ul.help li a.container-white.active input {
  color: #ffffff;
}

.simulator ul.help li a.container-white.active input::-webkit-input-placeholder,
.simulator-pymes
  ul.help
  li
  a.container-white.active
  input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.simulator .total,
.simulator-pymes .total {
  margin: 15px 0 0 0;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.simulator input,
.simulator-pymes input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  width: 350px;
  text-align: center;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #747779;
}

.simulator h3,
.simulator-pymes h3 {
  font-size: 28px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #747779;
  margin-bottom: 10px;
  min-height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.simulator ul.container-scroll,
.simulator-pymes ul.container-scroll {
  padding: 0;
  display: block;
  height: 185px;
  overflow-y: auto;
  margin: 0;
}

.simulator ul.container-scroll li,
.simulator-pymes ul.container-scroll li {
  width: 100%;
  padding: 0 0 10px 15px;
  position: relative;
}

.simulator ul.container-scroll li:after,
.simulator-pymes ul.container-scroll li:after {
  content: "•";
  width: 25px;
  height: 25px;
  position: absolute;
  left: -10px;
  top: 0;
  color: #747779;
  text-align: center;
}

.simulator ul.container-scroll li p,
.simulator-pymes ul.container-scroll li p {
  color: #808285;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.simulator input[type="checkbox"],
.simulator-pymes input[type="checkbox"] {
  display: none;
}

.simulator input[type="checkbox"]:checked + label,
.simulator-pymes input[type="checkbox"]:checked + label {
  background: #ffcf01;
  border: none;
  opacity: 1;
  border: 1px solid #ffcf01;
  position: relative;
}

.simulator input[type="checkbox"]:checked + label::before,
.simulator-pymes input[type="checkbox"]:checked + label::before {
  content: "";
  background: #454648;
  height: 15px;
  width: 4px;
  position: absolute;
  top: 20%;
  left: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
}

.simulator input[type="checkbox"]:checked + label::after,
.simulator-pymes input[type="checkbox"]:checked + label::after {
  content: "";
  background: #454648;
  height: 8px;
  width: 4px;
  position: absolute;
  top: 41%;
  left: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 5px;
}

.simulator label,
.simulator-pymes label {
  height: 25px;
  width: 25px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 25px);
  border-radius: 100px;
  border: 1px solid #808285;
  background: #ffffff;
  overflow: hidden;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.simulator label::before,
.simulator label::after,
.simulator-pymes label::before,
.simulator-pymes label::after {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.simulator label::before,
.simulator-pymes label::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 100%;
}

.simulator label::after,
.simulator-pymes label::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
}

.simulator .container-white.p-15.active,
.simulator-pymes .container-white.p-15.active {
  background-color: #00448d;
}

.simulator .container-white.p-15.active p,
.simulator .container-white.p-15.active h1,
.simulator .container-white.p-15.active h2,
.simulator .container-white.p-15.active h3,
.simulator .container-white.p-15.active h4,
.simulator .container-white.p-15.active h4,
.simulator .container-white.p-15.active span,
.simulator-pymes .container-white.p-15.active p,
.simulator-pymes .container-white.p-15.active h1,
.simulator-pymes .container-white.p-15.active h2,
.simulator-pymes .container-white.p-15.active h3,
.simulator-pymes .container-white.p-15.active h4,
.simulator-pymes .container-white.p-15.active h4,
.simulator-pymes .container-white.p-15.active span {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #ffffff;
}

.simulator .container-white.p-15.active ul li:after,
.simulator-pymes .container-white.p-15.active ul li:after {
  color: #ffffff;
}

.simulator .form-data .col-md-5,
.simulator-pymes .form-data .col-md-5 {
  padding: 0 10px;
}

.simulator .form-data .container-white,
.simulator-pymes .form-data .container-white {
  height: 87px;
  min-height: auto;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin: 10px 0;
}

.simulator .form-data .container-white .form-container,
.simulator-pymes .form-data .container-white .form-container {
  width: 100%;
  position: relative;
}

.simulator .form-data .container-white .form-container p,
.simulator-pymes .form-data .container-white .form-container p {
  margin: 0;
  position: absolute;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #808285;
  top: -12px;
}

.simulator .form-data .container-white .form-container input,
.simulator-pymes .form-data .container-white .form-container input {
  border-bottom: 1px solid #808285;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #808285;
  text-align: left;
  height: 40px;
  margin: 0;
}

.simulator .form-data .container-white .form-container select,
.simulator-pymes .form-data .container-white .form-container select {
  border: 0;
  border-bottom: 1px solid #808285;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #808285;
  text-align: left;
  height: 40px;
  background: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.simulator .form-data .container-white .form-container span,
.simulator-pymes .form-data .container-white .form-container span {
  display: none;
  color: #fa5e5b;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  position: absolute;
}

.simulator .form-data .container-white .form-container.error input,
.simulator .form-data .container-white .form-container.error select,
.simulator-pymes .form-data .container-white .form-container.error input,
.simulator-pymes .form-data .container-white .form-container.error select {
  border-bottom-color: #fa5e5b;
}

.simulator .form-data .container-white .form-container.error span,
.simulator-pymes .form-data .container-white .form-container.error span {
  display: block;
}

.simulator .table-simulator,
.simulator-pymes .table-simulator {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.simulator .table-simulator tr,
.simulator-pymes .table-simulator tr {
  color: #ffffff;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.simulator .table-simulator tr td,
.simulator-pymes .table-simulator tr td {
  padding: 15px 30px;
  border: 2px solid #747779;
}

.simulator .table-simulator tr td:last-child,
.simulator-pymes .table-simulator tr td:last-child {
  text-align: center;
  font-weight: 800;
}

.simulator .table-simulator tr:first-child,
.simulator-pymes .table-simulator tr:first-child {
  color: #ffffff;
  background-color: #a7a9ac;
  font-size: 28px;
  text-align: center;
}

.simulator .table-simulator tr:first-child th,
.simulator-pymes .table-simulator tr:first-child th {
  padding: 5px;
  border: 1px solid #747779;
}

.simulator .table-simulator tr:first-child th:first-child,
.simulator-pymes .table-simulator tr:first-child th:first-child {
  border-right: 2px solid #747779;
}

.simulator .table-simulator tr:first-child th:last-child,
.simulator-pymes .table-simulator tr:first-child th:last-child {
  border-left: 2px solid #747779;
}

.simulator .container-white.all h4,
.simulator-pymes .container-white.all h4 {
  font-size: 56px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #808285;
  margin: 0;
  min-height: 75px;
}

.simulator .container-white.all h4 img,
.simulator-pymes .container-white.all h4 img {
  width: 60px;
  margin-right: 15px;
  vertical-align: initial;
}

.simulator .container-white.all p,
.simulator-pymes .container-white.all p {
  font-size: 28px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #808285;
  margin: 0;
  min-height: 130px;
}

.simulator .container-white.all p span,
.simulator-pymes .container-white.all p span {
  font-weight: 800;
}

.simulator .container-white.all .rangeslider__value-bubbleMeses,
.simulator .container-white.all .rangeslider__value-bubbleValor,
.simulator .container-white.all .rangeslider__value-bubbleAnios,
.simulator-pymes .container-white.all .rangeslider__value-bubbleMeses,
.simulator-pymes .container-white.all .rangeslider__value-bubbleValor,
.simulator-pymes .container-white.all .rangeslider__value-bubbleAnios {
  background-image: url(../img/icons/tooltip-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  width: 200px;
  height: 47px;
  background-size: 100% 100%;
  margin-bottom: 15px;
}

.simulator .legal,
.simulator-pymes .legal {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #292929;
  margin: 0;
  text-align: center;
}

.simulator .button-w-100 .button,
.simulator-pymes .button-w-100 .button {
  min-width: 100%;
}

.simulator h5,
.simulator-pymes h5 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.simulator .datepicker,
.simulator-pymes .datepicker {
  width: 100%;
  background-color: #a7a9ac;
  border-radius: 10px;
  height: 80px;
  padding: 10px 45px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.simulator .datepicker span.text,
.simulator-pymes .datepicker span.text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.simulator .datepicker .calendar,
.simulator-pymes .datepicker .calendar {
  height: 30px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding-left: 15px;
  position: relative;
}

.simulator .datepicker .calendar:before,
.simulator-pymes .datepicker .calendar:before {
  content: "";
  width: 670px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  top: 100%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
}

.simulator .datepicker img,
.simulator-pymes .datepicker img {
  position: absolute;
  left: 85%;
  top: 15%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 30px;
}

.simulator .datepicker .datepicker-container,
.simulator-pymes .datepicker .datepicker-container {
  position: absolute;
  left: 105%;
  z-index: 1;
  top: 15%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 15px;
  width: 240px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.simulator .datepicker .datepicker-container .datepicker-panel > ul > li,
.simulator-pymes .datepicker .datepicker-container .datepicker-panel > ul > li {
  color: #747779;
}

.simulator .datepicker .datepicker-container .datepicker-panel > ul > li.picked,
.simulator-pymes
  .datepicker
  .datepicker-container
  .datepicker-panel
  > ul
  > li.picked {
  color: #747779;
}

.simulator
  .datepicker
  .datepicker-container
  .datepicker-panel
  > ul
  > li.picked:hover,
.simulator-pymes
  .datepicker
  .datepicker-container
  .datepicker-panel
  > ul
  > li.picked:hover {
  color: #747779;
}

.simulator .datepicker .datepicker-container .datepicker-panel > ul > li.picked,
.simulator-pymes
  .datepicker
  .datepicker-container
  .datepicker-panel
  > ul
  > li.picked {
  background-color: #fcd600;
  border-radius: 50%;
}

.simulator-calendar .entity-fees,
.simulator-pymes-calendar .entity-fees {
  padding-bottom: 0;
}

.simulator-calendar .entity-fees .deco:after,
.simulator-pymes-calendar .entity-fees .deco:after {
  height: 70px;
  bottom: 40%;
}

.popover {
  border-radius: 5px;
  background-color: ##31401c;
  border: 0;
  z-index: 998;
}

.popover .popover-header {
  display: none;
}

.popover .popover-body {
  background-color: #31401c;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.popover .popover-body .close {
  opacity: 1;
  color: #31401c;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 0.1;
  margin-top: 5px;
}

.popover .popover-body span {
  width: 110px;
  display: inline-block;
}

.popover .arrow:after {
  border-top-color: #31401c;
}

.simulator-pymes .content-pymes .container-white {
  height: 240px;
  display: block;
}

.simulator-pymes .content-pymes .container-white img {
  margin-bottom: 25px;
}

.simulator-pymes ul.help {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  padding: 0;
}

.simulator-pymes ul.help li {
  display: grid;
}

.simulator-pymes ul.help li a {
  margin-bottom: 0;
  height: 110px;
  padding: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.simulator-pymes ul.help li a p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  text-align: left;
  line-height: 20px;
}

.simulator-pymes ul.help li a p span {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.simulator-pymes ul.helpp {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  padding: 0;
}

.simulator-pymes ul.helpp li {
  display: grid;
}

.simulator-pymes ul.helpp li a {
  margin-bottom: 0;
  height: 110px;
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.simulator-pymes ul.helpp li a p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  text-align: center;
  line-height: 20px;
}

.simulator-pymes ul.helpp li a p span {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.simulator-pymes ul.helpp li a input {
  width: 80%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom-color: #ececec;
}

.simulator-pymes ul.helpp li a.container-white.active input {
  color: #ffffff;
}

.simulator-pymes
  ul.helpp
  li
  a.container-white.active
  input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.terms {
  position: relative;
}

.terms label {
  left: 90px;
  top: 15%;
  position: absolute;
  border-radius: 5px;
}

.terms input[type="checkbox"] {
  display: none;
}

.terms input[type="checkbox"]:checked + label {
  position: absolute;
}

.terms a {
  margin-left: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.deco-white {
  width: 100%;
  display: contents;
  position: relative;
  text-align: center;
}

.deco-white:after {
  content: "";
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
  height: 180px;
  width: 80%;
}

.deco-white ul {
  list-style: none;
}

.deco-white ul li {
  display: inline-block;
  margin: 0 15px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white ul li a {
  text-decoration: none;
}

.deco-white ul li a img {
  width: 155px;
  border-radius: 50%;
  height: 155px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white ul li a img:hover {
  -webkit-box-shadow: 0px 12px 44px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 12px 44px -9px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white ul li a p {
  font-size: 32px;
  margin-top: 15px;
}

@media (max-width: 1280px) {
  .deco-white ul {
    padding: 0;
  }
  .deco-white .face {
    width: 100px;
    height: 100px;
  }
  .deco-white .faces {
    margin-top: -70px;
  }
}

@media (max-width: 1280px) {
  .entity-fees {
    padding-bottom: 40px;
  }
  .deco-white-how:after {
    bottom: -10% !important;
  }
  .text-comment img {
    margin-top: 5% !important;
  }
  .entity-fees a.container-white {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  ul.help-exp li a.container-white span {
    font-size: 18px !important;
  }
  h2.x {
    margin-top: -10px !important;
  }
  .rate h2 {
    margin-top: 40px;
  }
  .add-element li.dest {
    min-width: 200px !important;
  }
  .add-element li {
    margin: 0px 2px !important;
  }
  .entity-fees.experience {
    padding-bottom: 80px !important;
  }
}

.deco-white-how {
  width: 100%;
  display: contents;
  position: relative;
  text-align: center;
}

.deco-white-how:after {
  content: "";
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
  height: 180px;
  width: 100%;
}

.deco-white-how ul {
  list-style: none;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deco-white-how ul li {
  display: inline-block;
  margin: 0 15px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.deco-white-how ul li .radio-label {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #333;
  position: relative;
  outline: none;
}

.deco-white-how ul li .radio-label:hover {
  cursor: pointer;
}

.deco-white-how ul li input[type="radio"].radio {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white-how ul li input[type="radio"] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white-how ul li input[type="radio"]:checked + .radio-label:before {
  background-color: #000000;
  -webkit-box-shadow: inset 0 0 0 6px #fcd600;
  box-shadow: inset 0 0 0 6px #fcd600;
  border-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white-how ul li input[type="radio"]:focus + .radio-label:before {
  outline: 0;
  border-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deco-white-how ul li input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.entity-fees .row.text-comment {
  min-height: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.entity-fees .row.text-comment img {
  display: block;
  margin: 0 auto;
  margin-top: -15%;
  width: 180px;
}

.entity-fees .row.text-comment p {
  font-size: 32px;
  text-align: center;
  font-family: "Nunito";
  font-weight: bold;
}

.entity-fees .row.text-comment input {
  width: 80%;
  border: 0;
  border-bottom: 1px solid #808285;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #808285;
  text-align: left;
  height: 40px;
  margin: 0;
}

ul.help-exp {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  padding: 0;
}

ul.help-exp li {
  display: grid;
}

ul.help-exp li a.container-white {
  margin-bottom: 0;
  height: 110px;
  padding: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul.help-exp li a.container-white p {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  text-align: left;
  line-height: 20px;
}

ul.help-exp li a.container-white p span {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 28px;
  display: block;
  line-height: 1;
}

ul.help-exp li a.container-white.active {
  background-color: #a7a9ac;
}

.entity-fees.experience {
  padding-bottom: 160px;
}

.entity-fees.experience h2 {
  text-align: center;
}

.entity-fees.experience .nextSliderRight {
  left: -15%;
}

.entity-fees.experience .nextSliderLeft {
  right: -20%;
}

.entity-fees.experience .deco:after {
  bottom: 17%;
}

.entity-fees.experience .deco .slick-dots {
  bottom: -70px;
}

.entity-fees.experience .deco .slick-dots li {
  margin: 0 20px;
}

.entity-fees.experience .deco .slick-dots li button:before {
  opacity: 1;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  content: "";
  text-align: center;
}

.entity-fees.experience .deco .slick-dots li.slick-active button:before {
  background-color: #fcd600;
}

#modal-experience p {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "Nunito";
}

.back-white {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 25px;
}

.back-white .row {
  min-height: initial;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.back-white input.full {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #808285;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #808285;
  text-align: left;
  height: 40px;
  margin: 0;
}

.back-white select {
  border: 0;
  border-bottom: 1px solid #808285;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #808285;
  text-align: left;
  height: 40px;
  background: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
}

h2.x {
  margin-top: 40px;
}

.experience.pad {
  padding-bottom: 60px;
}

.add-element {
  list-style: none;
  display: block;
  margin: 20px auto;
  padding-left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 15px;
  text-aling: center;
}

.add-element li {
  text-align: center;
  display: inline-block;
  margin: 0px 15px;
  padding: 20px;
}

.add-element li img {
  width: 90px;
}

.add-element li p {
  color: #ffffff;
  font-size: 28px;
  margin: 0;
  line-height: 1;
}

.add-element li .radio-label {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #333;
  position: relative;
  outline: none;
}

.add-element li .radio-label:hover {
  cursor: pointer;
}

.add-element li input[type="radio"].radio {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add-element li input[type="radio"] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add-element li input[type="radio"]:checked + .radio-label:before {
  background-color: #000000;
  -webkit-box-shadow: inset 0 0 0 6px #fcd600;
  box-shadow: inset 0 0 0 6px #fcd600;
  border-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add-element li input[type="radio"]:focus + .radio-label:before {
  outline: 0;
  border-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add-element li input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add-element li.dest {
  text-align: left;
  border-radius: 15px;
  margin: 0;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  min-width: 225px;
}

.add-element.flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.add-element.flexi li.img-x {
  padding: 0;
  width: 20%;
}

.add-element.flexi li.range {
  text-align: left;
  width: 100%;
  padding: 0;
  padding-left: 50px;
  padding-top: 5px;
}

.add-element.flexi li.range p {
  margin-bottom: 20px;
  margin-left: 20px;
}

.add-element.flexi li.range .rangeslider--horizontal {
  margin-top: 20px;
  width: 55%;
}

.add-element.flexi li.range .rangeslider__value-bubble {
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 45px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.add-element.flexi li.range .rangeslider__fill {
  background-color: #fcd600;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.add-element.flexi li.range .rangeslider__handle {
  background-color: #fcd600;
  border: 0;
  width: 30px;
  height: 30px;
  background-image: none;
}

.add-element.flexi li.range .rangeslider__handle:after {
  background-color: #ffffff;
  background-image: none;
  width: 15px;
  height: 15px;
}

.add-element.flexi li.range .rangeslider--horizontal {
  height: 5px;
}

.add-element.flexi li.range .rangeslider--horizontal .rangeslider__handle {
  top: -13px;
}

.add-element.flexi li.range .rangeslider {
  background: #ffffff;
  display: inline-block;
}

.add-element.flexi li.range .state-calification {
  display: none;
}

.add-element.flexi li.range img {
  margin-left: 25%;
  margin-top: -20px;
}

.add-element.flexi li.range p {
  margin: 0;
}

.add-element.flexi .transition-emote {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1024px) {
  .entity-fees .row {
    min-height: initial;
  }
}

@media (max-width: 1024px) {
  .deco-white .face {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 1024px) {
  .deco-white .faces {
    margin-top: -60px;
  }
}

@media (max-width: 1024px) {
  .deco-white:after {
    width: 100%;
    bottom: -20%;
    z-index: -1;
    height: 140px;
  }
}

@media (max-width: 1024px) {
  .deco-white ul li a p {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .container-radius:after {
    width: 550px;
    height: 550px;
  }
}

@media (max-width: 1024px) {
  .rate h2 {
    margin: 15px 0 10px 0;
    font-size: 34px;
  }
}

@media (max-width: 1024px) {
  .deco-white-how ul li {
    margin: 0 9px;
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .deco-white-how ul {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .entity-fees .row.text-comment img {
    width: 110px;
  }
}

@media (max-width: 1024px) {
  .entity-fees .row.text-comment p {
    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .deco-white-how:after {
    height: 135px;
    bottom: -10%;
  }
}

@media (max-width: 1024px) {
  .containerDate {
    padding: 30px 100px 0px 100px;
  }
}

@media (max-width: 1024px) {
  ul.help-exp li a.container-white {
    padding: 10px !important;
    margin-left: 5px !important;
  }
}

@media (max-width: 1024px) {
  .entity-fees.experience .deco .slick-dots {
    bottom: -40px;
  }
}

@media (max-width: 1024px) {
  .entity-fees.experience {
    padding-bottom: 30px !important;
  }
}

@media (max-width: 1024px) {
  .back-white {
    padding: 25px;
  }
}

@media (max-width: 1024px) {
  .add-element li.dest {
    min-width: 160px !important;
  }
}

@media (max-width: 1024px) {
  .add-element li {
    padding: 9px;
  }
}

.add-element li p {
  font-size: 22px;
}

.add-element.flexi li.range img {
  margin-left: 15%;
}

@media (max-width: 1024px) {
  .add-element {
    margin: 10px auto;
  }
}

.rangeslider-wrap {
  padding-top: 50px;
}

.rangeslider__handle__value {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  text-align: center;
  padding: 5px;
  background-color: #00448d;
  border-radius: 5px;
  color: white;
  left: -85px;
  top: -50px;
  position: absolute;
  white-space: nowrap;
  border-top: 1px solid #007acc;
  z-index: 1;
}

.rangeslider__handle__value:after {
  -webkit-transition: border-top-color 0.2s;
  -o-transition: border-top-color 0.2s;
  transition: border-top-color 0.2s;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
  border-top-color: #00448d;
}

.opacity-0 {
  opacity: 0;
  pointer-events: none;
}
.texto-log-1 {
  font-size: 21px;
}
.texto-log-2 {
  font-size: 39px;
}
.texto-log-3 {
  font-size: 66px;
  font-family: "comfortaa-bold";
  margin-top: -25px !important;
}
}
.texto-log-1,
.texto-log-2 {
  font-family: "comfortaa-light";
}
.texto-log-1,
.texto-log-2,
.texto-log-3 {
  color: #035941;
  margin: 0;
    text-align: center;
}
.centradito, .centradito-form{
  text-align: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  height: 100%;
}
.centradito:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F7DF;  
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}
.contenido-log{
  position: relative;
  z-index: 1;
}
.modal .modal-body{
  padding: 0 !important;
}
form.login{
  margin-top: 35px;
}
form.login input{
  width: 80%;
  background-color: rgb(254, 246, 244);
  border-radius: 25px;
  font-family: 'comfortaa-light';
  font-size: 16px;
  color: #5F5F5F;
  margin: 0;
}
form.login label{
  width: 80%;
  position: relative;
  top: 0;
  left: 0;
  border: 0;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: "lato-regular";
  color: #5F5F5F;
  opacity: 1;
}
form.login button{
  width: 80%;
  position: relative;
  top: 0;
  right: 0;
  margin-top: 25px;
  background-color: #F2622E;
  border-radius: 25px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 20px;
  font-family: 'comfortaa-bold';
  cursor: pointer;
  transition: all .3s;
}
form.login a{
  font-family: 'comfortaa-regular';
  font-size: 16px;
  color: #F2622E;
  text-decoration: underline;
}
form.login .fogot{
  margin-top: 25px;
}
form.login button:hover{
  -webkit-box-shadow: 0px 10px 14px -9px rgba(242,98,46,1);
  -moz-box-shadow: 0px 10px 14px -9px rgba(242,98,46,1);
  box-shadow: 0px 10px 14px -9px rgba(242,98,46,1);
  transition: all .3s;
}
.tittle-log{
  font-family: 'comfortaa-bold';
  font-size: 30px;
  color: #035941;
  padding-top: 40px;
}
.sig-if{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-right: 30px;
  font-size: 14px;
  color: #4D4D4D;
  font-family: 'lato-regular';
}
.sig-if a{
  font-family: 'lato-regular';
  font-size: 14px;
  color: #F2622E;
  text-decoration: underline;
}
.modal-content{
  border-radius: 25px;
}

