{% extends 'base.html' %}
{% load static %}
{% block title %} Cartera {% endblock title %}



{% block content %}
<link rel="stylesheet"  href="{% static "dashboard/css/argon.css" %}" type="text/css">
{% include "includes/scripts.html" %}

<h1 style="background-color: #012623; font-family: comfortaa-bold; background-color: #f8f9fe; color: var(--bs-breadcrumb-item-active-color); font-size: var(--bs-breadcrumb-font-size)" >Cartera</h1>
<div>

      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Historial de pagos</h3>
            </div>
            <div class="col text-right">
              <!--
              <a href="#!" class="btn btn-sm btn-primary">Ver más</a>-->
            </div>
          </div>
        </div>
        {% if orders_list %}

        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Fecha de orden</th>
                <th scope="col">Árboles</th>
                <th scope="col">Pago total</th>
                <th scope="col">Estado</th>
                <!--<th scope="col">Tasa de crecimiento</th>-->
                <th scope="col">Recibo de pago</th>
                <th scope="col">Contrato</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders_list %}
              <tr>
                <th scope="row">
                  {{ order.id }}
                </th>
                <td>
                  {% if order.ordered_date %}
                    {{ order.ordered_date}}  
                  {% else %}
                    Sin fecha
                  {% endif %}
                </td>
                <td>
                  {% for item in order.items.all %}
                    {{ item.project.name }} x {{ item.quantity}} <br>
                  {% endfor %}
                <td>
                  ${{ order.get_total }}
                </td>
                <td>
                  {% if order.ordered %}
                    COMPLETADO
                  {% else %}
                    FALLIDO O INCOMPLETO
                  {% endif%}
                </td>
                <!--
                <td>
                  {% if order.ordered %}
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                  {% else %}
                  <i class="fas fa-arrow-right text-warning mr-3"></i> SIN CAMBIOS
                  {% endif%}
                </td>
                -->
                <td>
                  {% if order.ordered %}
                  <a href="{% url 'billing:order-detail' pk=order.id %}" target="_blank"><i class="fa-solid fa-file-arrow-down mr-3"></i></a>
                 
                  {% else %}
                  No Disponible
                  {% endif%}
                </td>
                <td>
                  {% if order.contrato %}
                  <a href="{{ order.contrato.url}}" target="_blank"><i class="fa-solid fa-file-arrow-down mr-3"></i></a>
                  {% else %}
                  No Disponible
                  {% endif%}
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="card-body">
        <p>Aún no se registran pagos.</p>
        </div>
      {% endif %}
      </div>
</div>

{% endblock %}