{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Gracias por tu compra{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/stripe.css' %}" />
{% endblock extra_head%}


{% block content %}
<section>
  <div class="product Box-root">
    <div class="description Box-root">
      <h3>Subscription to Starter plan successful!</h3>
    </div>
  </div>
  <form action="/create-portal-session" method="POST">
    <input type="hidden" id="session-id" name="session_id" value="" />
    <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
  </form>
</section>

{% endblock content %}