{% extends "base.html" %}
{% load add_attr %}
{% block title %}Subscribe{% endblock %}

{% block content %}

<form method="post" id="subscription-form" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
<div class="container"> <div class=" text-center mt-5 ">
    <h1>Create a Subscription</h1>
</div>
<div class="row ">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class="container">
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                Project:
                                <div class="form-group"> 
                                    <label for="project">Select one</label> 
                                    {% if form.project.errors %}
                                    {{ form.project|add_attr:'is-invalid'}}
                                    {% else %}
                                        {{ form.project }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.project.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                Trees: 
                                <div class="form-group">
                                        
                                    {% if form.n_trees.errors %}
                                    {{ form.n_trees|add_attr:'is-invalid'}}
                                    {% else %}
                                        {{ form.n_trees }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.n_trees.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        
                        <button type="button" id="btnCalculaSub" class="btn btn-primary">Calculate</button>
                        <h2> Summary </h2>
                        <div class="row">
                                                    
                            

                            <span> Unit price: {{ form.unit_price }} </span>
                            <span> Total: {{ form.total_price }} </span>
                                                        
                            
                        </div>  
                        <br/>
                        <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Subscribe">
                        
                    </div>
                    
                </div>
            </div>
        </div> <!-- /.8 -->
    </div> <!-- /.row-->
</div>
</form>
{% endblock %}