
{% extends 'base.html' %}
{% load static %}
{% load get_data_chart %}
{% block title %} Dashboard {% endblock title %}
  
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
<script src="https://kit.fontawesome.com/717704dca6.js" crossorigin="anonymous"></script>
{% block content %}
      <!-- Argon CSS -->
      <link rel="stylesheet"  href="{% static "dashboard/css/argon.css" %}" type="text/css">
<style>

  .avatars {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: #012623; 
   display: flex;
   justify-content: center;
   align-items: center;    
  }
  .borde1{
    width: 58px;
    height: 58px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #F2622E; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 10px; 
  }
  .avatars-off{
    width: 40px;
   height: 40px;
   border-radius: 50%;
   background: #F5F6F7; 
   display: flex;
  justify-content: center;
  align-items: center;

    
  }
  .borde2{
    width: 58px;
    height: 58px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #F5F6F7; 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 10px;
  }  
 .icobarra img{
    height: 20px;
    width: 20px;
 }
 .posicion{
  display: flex;
  justify-content: end;
  align-items: end;
  
 }
 @media (max-width:768px){
  .posicion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 2em;
  margin-top: 7px;
  }
  .avatars{
    margin: 4px; 
  }
  .avatars-off{
    margin: 4px; 
  }
  .item1{
    margin-right: 12px;
  }
  .item2{
    margin-left: 8px;
  }
  .item3{
    margin-left: 27px;

  }
  .item4{
    margin-left: 48px;
  }
  .co2 h5{
  font-size: 10px;
  margin-left: -11px;
  }
  .rectanguloup{
    border-radius: 10%;
    background-color: #F5F8FA;
    padding: 0.5rem;
    padding: 7px;
    height: 65px;
    margin-top: 7px;
  }
  
}
.co2 h5{
  color: #013F30;
}

.progress-bar { 
    background: #018669;
}
.conten-punta{
  height: 2px;
  width: 2px;
}
.punto1{
  border-radius: 50%;
  background-color: #F2622E;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -31px;
}
.conten-punt{
  position: relative;
}
h5{
  font-size: 16px;
}
.burbuja{
  position:relative;  
    color: #5F5F5F;
    background: #FFF4D6;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  padding: 1rem;
  width: 177px;
  font-size: 12px;
  margin-bottom: 20px;
}
.burbuja::after{
  content:"";
  position:absolute;
  top:-25px;
  left:70px;
  border:15px solid transparent;
  border-bottom-color:#FFF4D6;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.contenbur{
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorletra{
  color: #F2622E;
}

</style>
<div class="btn-flotante">Hoy ganaste {{ utilidad_hoy }} USD</div>
{% include "navpage.html" with niveles=2 n1="Inicio" n2=title %}
    {% include "includes/scripts.html" %}
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row  py-4">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Inversión total</h5>
                      <span class="h2 font-weight-bold mb-0">{{ inversion_total }} USD</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="fa-solid fa-money-bill-trend-up"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-3 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ comp_inversion }}%</span>
                    <span class="text-nowrap">Desde el mes pasado</span>
                  </p>
                  <p>
                    <a class="button-plant" data-bs-toggle="collapse" href="#collapseInversion" role="button" aria-expanded="false" aria-controls="collapseInversion">
                      Detalle...
                    </a>
                  </p>
                  <div class="collapse" id="collapseInversion">
                    <div class="card card-body">
                      <ul class="list-group">
                        {% for key, value in resumen_dict.items %}
                          <li class="list-group-item">{{key}}: {{value.valor_invertido}} USD</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Capital actual</h5>
                      <span class="h2 font-weight-bold mb-0">{{ capital_total }} USD</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="fa-solid fa-sack-dollar"></i>                        
                      </div>
                    </div>
                  </div>
                  <p class="mb-3 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ comp_capital }}%</span>
                    <span class="text-nowrap">Desde el mes pasado</span>
                  </p>
                  <p>
                    <a class="button-plant" data-bs-toggle="collapse" href="#collapseCapital" role="button" aria-expanded="false" aria-controls="collapseCapital">
                      Detalle...
                    </a>
                  </p>
                  <div class="collapse" id="collapseCapital">
                    <div class="card card-body">
                      <ul class="list-group">
                        {% for key, value in resumen_dict.items %}
                          <li class="list-group-item">{{key}}: {{value.capital}} USD</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Tus Árboles</h5>
                      <span class="h2 font-weight-bold mb-0">Total: {{ arboles_total }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="fa fa-tree"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-3 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{  comp_arboles }}%</span>
                    <span class="text-nowrap">Desde el mes pasado</span>
                  </p>
                  <p>
                    <a class="button-plant" data-bs-toggle="collapse" href="#collapseArboles" role="button" aria-expanded="false" aria-controls="collapseArboles">
                      Detalle...
                    </a>
                  </p>
                  <div class="collapse" id="collapseArboles">
                    <div class="card card-body">
                      <ul class="list-group">
                        {% for key, value in resumen_dict.items %}
                          <li class="list-group-item">{{key}}: {{value.total_trees}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Rentabilidad este mes</h5>
                      <span class="h2 font-weight-bold mb-0">Promedio: {{ rentabilidad }} %</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-3 text-sm">
                    <span class="text-success mr-2">Sin cambios</span>
                    <span class="text-nowrap">Desde el mes pasado</span>
                  </p>
                  <p>
                    <a class="button-plant" data-bs-toggle="collapse" href="#collapseRenta" role="button" aria-expanded="false" aria-controls="collapseRenta">
                      Detalle...
                    </a>
                  </p>
                  <div class="collapse" id="collapseRenta">
                    <div class="card card-body">
                      <ul class="list-group">
                        {% for rentabilidad in rentabilidades %}
                          <li class="list-group-item">{{rentabilidad.project.name}}: {{rentabilidad.valor}} %</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-10 center">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body h-auto">
              <div class="row">
                <div class="col co2">
                  <h5>Indica tu progreso a equivalencia de CO2 capturado a nivel vehicular, ¡Sigue avanzando!</h5>
                </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                      <i class="fa-solid fa-cloud-sun"></i>
                    </div>
              </div>
              <div class="row">
                  
                    <div class="row row-cols-4 icobarra">
                      <div class="col">
                        <div class="posicion">
                          <div class="item1">
                            <div class="borde1">
                            <div class="avatars"><img src="{% static 'img/image/persona.png' %}" alt=""></div>
                            </div>  
                          </div>
                      </div>
                      </div>
                      <div class="col">
                        <div class="posicion">
                          <div class="item2">
                            <div class="borde1">
                            <div class="avatars"><img src="{% static 'img/image/carroico.svg' %}" alt=""></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="posicion">
                          <div class="item3">
                           <div class="borde1">
                            <div class="avatars"><img src="{% static 'img/image/busico.svg' %}" alt=""></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="posicion">
                          <div class="item4">
                            <div class="borde1">
                            <div class="avatars"><img src="{% static 'img/image/avionico.svg' %}" alt=""></div>
                           </div>
                          </div>
                        </div> 
                      </div> 
                    
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar" style="width:{{ progreso_co2 }}%;">
                          <span class="progress-bar-text"></span>
                      </div>
                  </div>
                  <div class="contenbur">
                  <div class="burbuja"><span>Con tu inversión puedes lograr reducir lo equivalente en <strong>CO2</strong> que emite un <strong>Camión</strong>, ¡genial!</span></div>
                </div>
                <br>
                    <div class="row">
                      
                      <div><strong>Desde que fueron sembrados, tus árboles han capturado:</strong>
                      <strong class="colorletra">{{ co2_consumption }} kg de CO<sup>2</sup></strong></div>
                      <div><strong>Desde que invertiste, tus árboles han capturado:</strong>
                      <strong class="colorletra">{{ co2_desdecompra }} Kg de CO<sup>2</sup></strong></div>
                    </div>
                </div>
                <div class="rectanguloup">
                  <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Desde el mes pasado</span>
                  </p>
              </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div id="header-sales" class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-verde text-uppercase ls-1 mb-1">Reporte</h6>
                  <h5 class="h3 text-verde mb-0">Utilidades</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    {% for upro in user_projects %}
                        <li class='nav-item mr-1'><a class='button-plant button-project' href="#div-chart-{{ upro.slug }}" data-toggle='tab' role='tab' aria-controls="nav-{{ upro.slug}}" aria-selected='false'>{{ upro }}</a></li>
                    {% endfor %}
                    
                  </ul>
                </div>
              </div>
            </div>
            <div id="card-sales" class="card-body">
              <div class="tab-content" id="nav-tabContent">
                
                  {% for upro in user_projects %}
                    <div class="chart tab-pane" id="div-chart-{{ upro.slug }}" role="tabpanel" aria-labelledby="{{ upro.slug }}-tab">                
                        <canvas id="chart-sales-{{ upro.slug }}" class="chart-canvas" data-chart='{{ datos|get_data_chart:upro.name }}'></canvas>
                        
                    </div>
                  
                  {% empty %}
                    <p> Aún no cuentas con inversiones en ninguno de nuestros proyectos </p>
                  {% endfor %}
                
              </div>
            </div>  
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card bg-default">
            <div class="card-body">
              <h5 class="h3 text-verde mb-0">Ingresos totales generados</h5>
              <strong>Capital: {{ capital_total }} USD</strong>
              <p>Valor invertido: {{ inversion_total }} USD, Utilidad: {{ utilidad_total }} USD</p>
              
              <div class="box-chart-pie mt-5">
                <canvas id="myChartPieDb" height="0" style="display: block; width: 0px; height: 0px;" width="0" data-chart='{{ resumen_general }}'></canvas>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div id="header-bars" class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col-4">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Compras</h6>
                  <h5 class="h3 mb-0">Total de árboles</h5>
                </div>
                <div class="col-8">
                  <ul class="nav nav-pills justify-content-end">
                    <li class='nav-item mr-1'><a class='button-plant button-bars' href="#div-bars-gen" data-toggle='tab' role='tab' aria-controls="nav-gen" aria-selected='false'>General</a></li>
                    {% for upro in user_projects %}
                        <li class='nav-item mr-1'><a class='button-plant button-bars' href="#div-bars-{{ upro.slug }}" data-toggle='tab' role='tab' aria-controls="nav-{{ upro.slug}}" aria-selected='false'>{{ upro }}</a></li>
                    {% endfor %} 
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div id="card-bars" class="card-body">
                <div class="tab-content" id="nav-tabContent">
                  <div class="chart tab-pane" id="div-bars-gen" role="tabpanel" aria-labelledby="{{ upro.slug }}-tab">
                    <canvas id="chart-bars" class="chart-canvas-gen"  data-chart='{{ resumen_dict }}'></canvas>
                  </div>
                  {% for upro in user_projects %}
                    <div class="chart tab-pane" id="div-bars-{{ upro.slug }}" role="tabpanel" aria-labelledby="{{ upro.slug }}-tab">                
                        <canvas id="chart-bars-{{ upro.slug }}" class="chart-canvas chart-canvas-pro" data-chart='{{ datos|get_data_chart:upro.name }}'></canvas>
                        
                    </div>
                    
                  
                  {% empty %}
                      <p> Aún no cuentas con inversiones en ninguno de nuestros proyectos </p>
                    {% endfor %}
                  
                </div>
              </div> 
            </div>
          </div>
         
        </div>
        <div class="col-xl-4">
          <div class="row">
            <div class="card">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="mb-0">Disponibilidad de árboles</h3>
                  </div>
                  <div class="col text-right">
                    <a href="/projects" class="btn btn-sm btn-primary">Ver proyectos</a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Proyecto</th>
                      <th scope="col">Árboles disponibles</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for project in projects %}
                      <tr>
                        <th scope="row">
                          {{ project.name }}
                        </th>
                        <td>
                          {{ project.trees_left }}
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <span class="mr-2">{{ project.get_trees_left_porcent|floatformat:0 }}%</span>
                            <div>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="{{ project.get_trees_left_porcent|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_trees_left_porcent|floatformat:0 }}%;"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <div class="card-body">
                <h2>Descargue documentos de su interés</h2>
                <div class="row mb-3">
                  <a href="{% static "account/css/terminoses.pdf" %}" class="btn border-light boton-documento avt" type="button" target="_blank">Tu contrato 
                    <i class="material-icons position-absolute end-0">file_download</i></a>            
                  <a href="{% static "account/css/terminoses.pdf" %}" class="btn border-light boton-documento avt" type="button" target="_blank">Certificado ICA
                    <i class="material-icons position-absolute end-0">file_download</i></a>
                  <a href="{% static "account/css/contrarrendat.pdf" %}" class="btn border-light boton-documento avt" type="button" target="_blank">Arrendamiento tierras 
                    <i class="material-icons position-absolute end-0">file_download</i></a>
                  <a href="{% static "account/css/PEMFTREECONOMYDILUVIO.pdf" %}" class="btn border-light text-star boton-documento avt" type="button" target="_blank">Plan Establec. Forestal
                    <i class="material-icons position-absolute end-0">file_download</i></a>   
                    
                </div>  
              </div>
            </div>
           </div>   

        </div>
     </div>
      

    </div>
    
{% endblock %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="{% static "dashboard/js/argon.js" %}"></script>
  
{% endblock javascripts %}
