<div class="container">
  <h1 class="display-4 text-center mb-5">Comentarios</h1>
  
  {% for comment in comments %}
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">{{ comment.name }}</h3>
        <p class="card-text">{{ comment.body }}</p>
        <small class="text-muted">Publicado el {{ comment.created_on }}</small>
      </div>
    </div>
  {% empty %}
    <p>No hay comentarios.</p>
  {% endfor %}


  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar comentario
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo comentario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Nombre:</label>
              {{ form.name }}
            </div>
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
              {{ form.email }}
            </div>
            <div class="form-group">
              <label for="{{ form.body.id_for_label }}">Comentario:</label>
              {{ form.body }}
            </div>
 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary  btn-block mt-4">Enviar comentario</button>
        </div>
      </div>
    </form>
  </div>
</div>

</div>