{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block content %}


    
<h1> Listado de Empresas</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Nit</th>
        <th scope="col">Propietario</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td>{{company.name}}</td>
            <td>{{company.nit}}</td>
            <td>{{company.user.first_name}}</td>
            <td>{{company.created_at}}</td>
          </tr>
        
        {% endfor %}
     
    </tbody>
  </table>





{% endblock %}