<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodigoQR</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">
    <div class="contenedor">
        <div class="header__imagen1">
            <picture>
                <picture class="">                    
                    <img loading="lazy" width="200" height="300" src="css/img/logotreeconomy.png" alt="">
                </picture
            </picture>
        </div>
        <div class="header_imagen2">
            <picture>
                <picture>                    
                    <img loading="lazy" width="200" height="300" src="css/img/logo_crepes.png" alt=""> 
                </picture>
            </picture>
            <div class="header_imagen3">
                <picture>
                    <picture>                    
                        <img loading="lazy" width="200" height="300" src="css/img/image _crepeswafles.png" alt="">
                    </picture>
                </picture>
        </div>
    </div> 
</header>
    
</body>
</html>