{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load get_data_chart %}
{% block title %} Tu compañia {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
<script src="https://kit.fontawesome.com/717704dca6.js" crossorigin="anonymous"></script>

{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/css/normalize.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=PT+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type='text/css' href="{% static 'dashboard/css/style.css' %}">

<div class="header my-2">
    {% if tiene_fondo %}
    <div class="row" style="background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 91.3%)
    , url('{{ company.portadas.url }}'); background-repeat: no-repeat; background-size: cover;"> 
    {% else  %}
    <div class="row" style=" background-color: var(--secundario); background-repeat: no-repeat; background-size: cover;"> 
    {% endif %}           
        <div class="col-4 col-lg-6 d-flex justify-content-between logos" >   
            <div class="logo1">
                <img src= "{% static 'dashboard/img/company/img/logotreeconomy.png' %}" alt="">
            </div> 
            
            <div class="logo2"> 
                {% if tiene_logo %}
                    <img class="rounded-circle shadow-4-strong" src="{{ company.logotipo.url }}" alt="treeconmy-logo" style="object-fit: cover;">                 
                {% endif %}
            </div>
        </div> 
        
        <div class="col-8 col-lg-6 info_principal" >    
                <div class="imagen__texto d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="my-2">{{ company.name }}</h1>
                        <h4>Inversión en Treeconomy</h4>    
                        <h2> ${{ capital_total }} USD</h2>
                    </div>
                </div> 
        </div>
    </div>                                    
</div>

<div class="row">
    <div class="col-12 col-lg-5">
        <div class="entrada1 my-3">
             
            <div class="titulo">
                <h2>Árboles sembrados</h2>
            </div>
            
            <div class="entrada__imagen-texto">
                <h3 class="counter" data-target="{{ arboles_total }}">0</h3>
                <p class="no-margin">árboles</p>
            </div>                             
           
        </div>
        
        <div class="entrada4 my-3" >
            <div class="titulo">
                <h2>Total de árboles sembrados</h2>
            </div>
            <div class="row">
                
            {% if not resumen_dict|length > 0 %}
                <div class="col">
                    <p> Esta compañía aún no invierte en ningún proyecto </p>
                </div>
                
            {% else %}
                
                    <div class="col-4">
                        <div class="entrada4__grafico">
                            <div id="card-bars" class="card-body">
                                <canvas id="dona-bars" class="chartsdona"  data-chart='{{ resumen_dict }}'></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 px-4">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                        
                        {% for key, value in resumen_dict.items %}
                        <div class="col">
                            <div class="card">
                                <img src="{% static 'dashboard/img/company/img/paisaje1.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{key}}</h5>
                                    <p class="card-text text-center">{{value.total_trees}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>   
                    </div>
                
            {% endif %}
            </div>
            
            
        </div>

        <div class="entrada3 my-3">
            <div class="titulo">
                <h2>Equivalencia de CO<sup>2</sup> capturado a nivel vehicular</h2>
            </div>
            
            <div class="d-flex justify-content-between flex-wrap">
                {% for key, value in vehiculos.items %}
                
                <button type="button" class="btn btn-link py-3" data-toggle="modal" data-target="#{{ value.nombre }}">
                    <img class="img-collapse shadow-4-strong"  src= "{% static value.url %}" alt="" style="height: 7rem ; width: 7rem; border-radius: 30%; object-fit: cover;">
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="{{ value.nombre }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ value.nombre }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>    

        </div>

        <div class="entrada6 my-3">
            <div class="titulo">
                <h2>Contáctanos</h2>
            </div>
            
            <div class="p-4">
                <form class="form-style" method="POST">
                    {% csrf_token %}
                    {{ form_contactanos|crispy}}
                    <br>
                    <br>
                    <input type="submit" value="Enviar" />
                </form>
            </div>
        </div>
    </div>
     
    <div class="col-12 col-lg-7">
        <div class="entrada5 my-3">
            <div class="row mb-3">
                <div class="col-12 col-md-6 mb-4">
                    <div class="titulo">
                        <h2>Inversión</h2>
                    </div>
                    
                    {% if not resumen_dict|length > 0 %}
                        <p> Esta empresa muy pronto comenzará a invertir</p>
                    {% else %}
                        <canvas id="myChartPieDb" data-chart='{{ resumen_general }}'></canvas>
                    {% endif %}    
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="titulo">
                        <h2>Captura de CO<sup>2</sup></h2>
                    </div>
                    <div>
                        <p>Desde que fueron sembrados, sus árboles han capturado:  <strong class="colorletra">{{ co2_consumption }} kg de CO<sup>2</sup></strong></p>
                       
                    </div>
                    <div>
                        <p>Desde que invertiste, sus árboles han capturado: <strong class="colorletra">{{ co2_desdecompra }} Kg de CO<sup>2</sup></strong></p>
                    </div>
                </div>
            </div>
            
            <div class="row">
             <div class="entrada5__cuadro py-2">
                <div class="titulo2 d-flex justify-content-center">
                    <h2>Calcula cuánto CO<sup>2</sup> capturan los árboles</h2>
                </div>
                
                
                <div class="row mt-4 ">
                    <div class="hojas col-2 column">
                        <img src="{% static 'dashboard/img/company/img/hoja3.png' %}" alt="imagenhoja" width="30px">
                        <img src="{% static 'dashboard/img/company/img/hoja2.png' %}" alt="imagenhoja" width="25px">
                        <img src="{% static 'dashboard/img/company/img/hoja1.png' %}" alt="imagenhoja" width="25px">
                    </div>

                    <div class="slider col-10">
                        <h3 class="text-center"><span id="cont_arboles">1</span> Árboles</h3>
                        <input type="range" class="barraslider form-range" min="0" max="1000" step="50" id="sliderco2" value="1">
                        <h3 class="text-center"><span id="cont_co2">33.3</span> Kg CO<sup>2</sup>capturado</h3>
                    </div>
                </div>
                    
             </div>
            </div>
        </div>

        <div class="entrada2 my-3">  
            {{ map|safe }}
       </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    const counters = document.querySelectorAll('.counter');
    
    const speed = 1; // The lower the slower

    counters.forEach(counter => {
        
        const updateCount = () => {
            const target = +counter.getAttribute('data-target');
            const count = +counter.innerText;

            // Lower inc to slow and higher to slow
            const inc = target / target;

            // Check if target is reached
            if (count < target) {
                // Add inc to count and output in counter
                counter.innerText = Math.floor( count + inc );
                // Call function every ms
                setTimeout(updateCount, 1);
            } else {
                counter.innerText = target;
            }
        };

        updateCount();
});
    //Seccion calculo CO2
    var slider = document.getElementById('sliderco2');
    var arboles = document.getElementById('cont_arboles');
    var co2 = document.getElementById('cont_co2');

    function onRangeChange(rangeInputElmt, listener) {

        var inputEvtHasNeverFired = true;

        var rangeValue = {current: undefined, mostRecent: undefined};

        rangeInputElmt.addEventListener("input", function(evt) {
        inputEvtHasNeverFired = false;
        rangeValue.current = evt.target.value;
        if (rangeValue.current !== rangeValue.mostRecent) {
            listener(evt);
        }
        rangeValue.mostRecent = rangeValue.current;
        });

        rangeInputElmt.addEventListener("change", function(evt) {
        if (inputEvtHasNeverFired) {
            listener(evt);
        }
        }); 

    }

    function calcularCO2(){
        var valorslider = slider.value;
        arboles.innerHTML = valorslider;
        co2.innerHTML = (valorslider*33.3).toFixed(1);
    }

    onRangeChange(slider, calcularCO2);

         

</script>


<script src="{% static "dashboard/js/argon.js" %}"></script>
{% endblock %}
